<div class="container-fluid">
    <div class="col-md-6 mt-3">
        <h2 class="page-title">Bank Assurance (Upload File)</h2>
        <br>
        <span style="color: red">{{upload_message}}</span>
        <br>
        <span >Last Uploaded At: {{last_uploaded_at}}</span>
        <br>
        <span >Last Uploaded By: {{last_uploaded_by}}</span>
        <br>
    </div>

    <div class="text-right">

        <button type="button" class="btnlink"  
        (click)="downloadTemplate()" style="width: 150px !important">Download Template</button>
    </div>

    <div draggable="true" ngClass="{{dragAreaClass}}" [ngClass]="blockUpload == true? 'disablecursor':''">
        <div class="row">
            <div class="col-md-12 mt-3 text-center uploadFile">
                Drag files here
                <a href="javascript:void(0)" (click)="file.click()" >
                    or Click to browse file
                </a>
                <input type="file" #file id="fileUp" [multiple]="false" (change)="uploadFile($event)" style="display:none" [disabled]="blockUpload" />
                <div class="dragged-files-wrapper" *ngIf="draggedFiles">
                    <div class="file mt-2" *ngFor="let file of draggedFiles">
                        {{file.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="error" *ngIf="error">
        Only one file at time allow
    </div>

    <div class="card customcardcolor mt-3">
        <div class="card-body">
            <table class="table table-hover table-responsive" style="max-height: 400px;">
                <thead>
                <tr>
                    
                    <!-- <th>month</th>
                    <th>location_type</th>
                    <th>zone_tagic</th>
                    <th>state</th>
                    <th>city</th>
                    <th>branch_tagic</th>
                    <th>branch_tagic_code</th>
                    <th>final_channel</th>
                    <th>sub_channel</th>
                    <th>vertical</th>
                    <th>partner_name_key</th>
                    <th>legacy_sol_id</th>
                    <th>current_sol_id</th>
                    <th>branch_type</th>
                    <th>level1_banca_location</th>
                    <th>level2_banca_location</th>
                    <th>level3_banca_location</th>
                    <th>level4_banca_location</th>
                    <th>level5_banca_location</th>
                    <th>sp_code</th>
                    <th>level0_emp_code</th>
                    <th>level1_emp_code</th>
                    <th>level1_emp_name</th>
                    <th>level1_emp_designation</th>
                    <th>year_months</th>
                    <th>producer_cd</th>
                    <th>level2_emp_code</th>
                    <th>level2_emp_name</th>
                    <th>level2_emp_designation</th>
                    <th>level3_emp_code</th>
                    <th>level3_emp_name</th>
                    <th>level3_emp_designation</th>
                    <th>level4_emp_code</th>
                    <th>level4_emp_name</th>
                    <th>level4_emp_designation</th>
                    <th>level5_emp_code</th>
                    <th>level5_emp_name</th>
                    <th>level5_emp_designation</th>
                    <th>level6_emp_code</th>
                    <th>level6_emp_name</th>
                    <th>level6_emp_designation</th>
                    <th>level7_emp_code</th>
                    <th>level7_emp_name</th>
                    <th>level7_emp_designation</th>
                    <th>level8_emp_code</th>
                    <th>level8_emp_name</th>
                    <th>level8_emp_designation</th> -->

                    <th>month</th>
                    <th>location type</th>
                    <th>zone tagic</th>
                    <th>state</th>
                    <th>city</th>
                    <th>branch tagic</th>
                    <th>branch tagic code</th>
                    <th>final channel</th>
                    <th>sub channel</th>
                    <th>vertical</th>
                    <th>partner name key</th>
                    <th>legacy sol id</th>
                    <th>current sol id</th>
                    <th>branch type</th>
                    <th>level1 banca location</th>
                    <th>level2 banca location</th>
                    <th>level3 banca location</th>
                    <th>level4 banca location</th>
                    <th>level5 banca location</th>
                    <th>sp code</th>
                    <th>level0 emp code</th>
                    <th>level1 emp code</th>
                    <th>level1 emp name</th>
                    <th>level1 emp designation</th>
                    <th>year months</th>
                    <th>producer cd</th>
                    <th>level2 emp code</th>
                    <th>level2 emp name</th>
                    <th>level2 emp designation</th>
                    <th>level3 emp code</th>
                    <th>level3 emp name</th>
                    <th>level3 emp designation</th>
                    <th>level4 emp code</th>
                    <th>level4 emp name</th>
                    <th>level4 emp designation</th>
                    <th>level5 emp code</th>
                    <th>level5 emp name</th>
                    <th>level5 emp designation</th>
                    <th>level6 emp code</th>
                    <th>level6 emp name</th>
                    <th>level6 emp designation</th>
                    <th>level7 emp code</th>
                    <th>level7 emp name</th>
                    <th>level7 emp designation</th>
                    <th>level8 emp code</th>
                    <th>Level8 Emp Name</th>
                    <th>Level8 Emp Designation</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let val of bankAssurList">
                    <!-- <td *ngFor="let arr of val">{{arr}}</td> -->
                    <td>{{val.month}}</td>
                    <td>{{val.location_type}}</td>
                    <td>{{val.zone_tagic}}</td>
                    <td>{{val.state}}</td>
                    <td>{{val.city}}</td>
                    <td>{{val.branch_tagic}}</td>
                    <td>{{val.branch_tagic_code}}</td>
                    <td>{{val.final_channel}}</td>
                    <td>{{val.sub_channel}}</td>
                    <td>{{val.vertical}}</td>
                    <td>{{val.partner_name_key}}</td>
                    <td>{{val.legacy_sol_id}}</td>
                    <td>{{val.current_sol_id}}</td>
                    <td>{{val.branch_type}}</td>
                    <td>{{val.level1_banca_location}}</td>
                    <td>{{val.level2_banca_location}}</td>
                    <td>{{val.level3_banca_location}}</td>
                    <td>{{val.level4_banca_location}}</td>
                    <td>{{val.level5_banca_location}}</td>
                    <td>{{val.sp_code}}</td>
                    <td>{{val.level0_emp_code}}</td>
                    <td>{{val.level1_emp_code}}</td>
                    <td>{{val.level1_emp_name}}</td>
                    <td>{{val.level1_emp_designation}}</td>
                    <td>{{val.year_months}}</td>
                    <td>{{val.producer_cd}}</td>
                    <td>{{val.level2_emp_code}}</td>
                    <td>{{val.level2_emp_name}}</td>
                    <td>{{val.level2_emp_designation}}</td>
                    <td>{{val.level3_emp_code}}</td>
                    <td>{{val.level3_emp_name}}</td>
                    <td>{{val.level3_emp_designation}}</td>
                    <td>{{val.level4_emp_code}}</td>
                    <td>{{val.level4_emp_name}}</td>
                    <td>{{val.level4_emp_designation}}</td>
                    <td>{{val.level5_emp_code}}</td>
                    <td>{{val.level5_emp_name}}</td>
                    <td>{{val.level5_emp_designation}}</td>
                    <td>{{val.level6_emp_code}}</td>
                    <td>{{val.level6_emp_name}}</td>
                    <td>{{val.level6_emp_designation}}</td>
                    <td>{{val.level7_emp_code}}</td>
                    <td>{{val.level7_emp_name}}</td>
                    <td>{{val.level7_emp_designation}}</td>
                    <td>{{val.level8_emp_code}}</td>
                    <td>{{val.level8_emp_name}}</td>
                    <td>{{val.level8_emp_designation}}</td>

                </tr>
                </tbody>
            </table>

            <div class="mb-3" *ngIf="bankAssurList.length > 0">
                <div class="row float-right">
                    <div class="col-md-12">
                        <button class="btn btn-sm pagigbtn mt-2 mb-2" (click)="goPrev()" [disabled]="prevDisable">Previous</button>&nbsp;
                        <!-- Page {{page+1}} of {{totalPage}}&nbsp; -->
                        <button class="btn btn-sm pagigbtn mt-2 mb-2" (click)="goNext()" [disabled]="nextDisable">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteModal>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</ng-template>


<!-- <p>upload-file works!</p> -->


<!-- <p>sales-target works!</p> -->



<!-- <p>sdm works!</p> -->



<!-- <p>bankassurance works!</p> -->
