.background{
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh-50px)!important;
}

.pageName {
    font-size: 24px;
    font-weight: 900;
    color: #001f66;
}
.pageName1 {
    font-size: 50px;
    font-weight: 900;
    padding-left: 75px;
    color: #001f66;
    font-family: Arial, Helvetica, sans-serif;
}

#cardheader{
    /* background: transparent -webkit-linear-gradient(174deg, rgba(13, 53, 148, .898039), #35d3e1) 0 0 no-repeat padding-box; */
    background: #f5f5f5!important;
    color:#001f66!important;
    cursor: pointer;
}


/* #cardheader:hover{
    background-image: linear-gradient(to left, #0275d8, #0275d8 )!important;
    border: none;
    box-shadow: 1px 1px 10px 5px #88888895!important;
} */
/* #fullCard{
    text-align: left;
} */
/* #fullCard:hover{
    
    transform: scale(1.07);
    transition: transform .5s; 
    box-shadow: 1px 1px 10px 5px #88888895!important;
} */

.accessible:hover{
    /* margin-top: -15px;  */
    transform: scale(1.07);
    transition: transform .5s; /* Animation */    
    box-shadow: 1px 1px 10px 5px #88888895!important;
}

.fullCard{
    overflow: hidden;
    /* width: 70%!important; */
    
}

/* #fullCard:hover #cardheader{
    color: #ffffff!important;
    background: transparent -webkit-linear-gradient(174deg, rgba(13, 53, 148, .898039), #35d3e1) 0 0 no-repeat padding-box!important;
} */

.cardButton {
    display: flex!important;
    justify-content: center!important;
    position: absolute;
    bottom: 10px;
    
}

.card-body{
    /* background-image: url(assets/image/newWhiteBack.jpg) ; */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.disable{
    opacity: 0.5;
}
