<!-- <p>health-and-gi-mapper works!</p> -->


<notifier-container></notifier-container>
<div style="margin-top: 0; padding:2%">
    <div class="row">

        <div class="col-3" style="padding-left:1%">
            <h2 class="page-title">GI & Health Mapping</h2>
        </div>

        <div class="col-4"></div>
        <div class="col-5" style="display: flex; justify-content: right;">
            <!-- <button type="button" class="btnlink" (click)="lastUploaded()" style="height: 36px; width:120px">Last Uploaded</button> -->
        </div>



    </div>
    <div class="row" style="height:90%;">
        <div class="col-12" style="padding: 1%; ">





            <div class="row">




                <!-- <div class="col-3">
                <label>KPI Year</label>
            </div>

            <div class="col-4">           
                

                <select class="form-control" [(ngModel)]="kpi_year" >
                <option *ngFor="let yr of fYearList">{{yr}}</option>
               
            </select>
            </div>

            <div class="col-5"></div> -->





                <!-- <div class="col-3">
                <label>KPI Month</label>
            </div>
            <div class="col-4"> 

                <select class="form-control" [(ngModel)]="kpi_month" >
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>

                

            </select>
            </div>
            <div class="col-5"></div> -->

            </div>

            <div class="row ">

                <div class="col-3">
                    <label>KPI Channel</label>
                </div>

                <div class="col-4">
                    <!-- <label>KPI Parameter Channel</label> -->

                    <!-- <select class="form-control" [(ngModel)]="channelNew">

                        <option value="{{channel}}" *ngFor="let channel of channelNewList">{{channel}}</option> 
                    </select> -->
                        <select class="form-control" [(ngModel)]="channelNew" (change)="getVerticals()">
                            <option value="{{chnl.id}}" *ngFor="let chnl of channelNewList">{{chnl.channelNewName}}</option>
                        </select>

                </div>
                <div class="col-5"></div>



                <div class="col-3">
                    <label>Sub-Channel</label>
                </div>
                <div class="col-4">
                    <!-- <select class="form-control" [(ngModel)]="subchannel">
                        <option value="{{subchannel}}" *ngFor="let subchannel of subchannel_list">{{subchannel}}
                        </option>
                    </select> -->
                    <select class="form-control" [(ngModel)]="verticalName">
                        <option value="{{vertical.id}}" *ngFor="let vertical of verticalList">{{vertical.verticalName}}</option>
                    </select>
                </div>
                <div class="col-5"></div>


                <!-- <div class="col-3">
                <label>Vertical Name</label>
            </div>
            <div class="col-4">           

                <select class="form-control" [(ngModel)]="verticalName" >

                <option value="{{vertical.id}}" *ngFor="let vertical of verticalList">{{vertical}}</option>
            </select>
            </div>
            <div class="col-5"></div> -->

            </div>




            <div class="row">

                <div class="col-3">
                    <label> Select File</label>
                </div>

                <div class="col-4">
                    <!-- <label>Upload File Type</label> -->

                    <input class="form-control" type="file" #file id="fileUp" [multiple]="false" name="filename"
                        style="padding:3px!important" (change)="uploadFile($event)">

                    <!-- <select name="" id="" class="form-control" [(ngModel)]="uploadFileType">
                    <option value="sdm">SDM</option>
                    <option value="retention">Retention</option>
                    <option value="hygiene">Hygiene</option>
                    <option value="cor">COR</option>
                    <option value="attrition">Attrition</option>
                </select> -->
                </div>
                <div class="col-5"></div>

            </div>

            <div class="row" style="padding-top:1%">

                <div class="col-3">
                    <!-- <button type="button" class="btnlink" (click)="savekpiManually()">Save</button> -->
                </div>

                <div class="col-4" style="display: flex; justify-content: right;">
                    <!-- showdata is the name of the ng template -->
                    <button type="button" class="btnlink" (click)="savekpiManually(showdata)">Save</button>
                </div>

                <div class="col-5"></div>
            </div>

        </div>

        <div *ngIf="currentUploadedStatus" class="col"
           >

            <div class="row" style="padding-top:1%">
                <div class="col" style="padding-left:0%">

                    <span style="font-weight: bold; color:rgb(94, 93, 93)">Currently Uploaded &nbsp;<span
                            style="color:blue;font-weight: 400; cursor: pointer;" (click)="dontshowdata()"> (Click to
                            Hide) </span></span>
                    <!-- <span *ngIf="lastUploadedStatus" style="font-weight: bold; color:rgb(94, 93, 93)">Last Uploaded</span> -->
                </div>
            </div>
            <div class="row " style="padding:1%; padding-left:1%;">
                <table class="table table-hover" style="width: 100%;">
                    <thead>
                        <tr
                        style="background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box;">
                            <th>Id</th>
                            <th>Channel</th>
                            <th>Sub Channel</th>
                            <th>Vertical</th>
                            <th>Product</th>
                            <th >KPI Type</th>
                            <th>Status</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="!(dataList.length > 0)">
                            <tr> &nbsp;&nbsp;No Details</tr>
                        </ng-container>
                        <ng-container *ngFor="let item of dataList; let i = index">

                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.channel}}</td>
                                <td>{{item.subChannel}}</td>
                                <td>{{item.vertical}}</td>
                                <td>{{item.productName}}</td>
                                <td *ngIf="isedit == false || editId != item.id">{{item.kpiType}}</td>
                                <td *ngIf="isedit == true && editId == item.id">
                                    <select class="form-control" [(ngModel)]="editkpiType" >
                                        <option value="GPW1">GPW 1</option>
                                        <option value="GPW2">GPW 2</option>
                                    </select>
                                <td></td>
                                <td class="only-show-on-hover">
                                    <mat-icon [ngClass]="showAction == item.channel?'':'only-show-on-hover'"
                                    style="cursor: pointer; color: #185EC4 !important;font-size:15px;"
                                    *ngIf="isedit == false || editId != item.id" (click)="editHealthGI(item.id,item.kpiType,item.channel,item.subChannel,item.vertical,item.productName)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </mat-icon>
                                <mat-icon style="font-size:20px;color: #185EC4;"
                                *ngIf="isedit == true && editId == item.id" (click)="editPSU_Heath_GI_Map(item.id)"><i class="fa fa-save" aria-hidden="true"></i>
                            </mat-icon>
                                    <!-- <a *ngIf="editId != data.id || isEdit==false"  style="cursor:pointer;" title="edit" (click)="changeEditStatus(data.id)">
                            <i style="font-size: 14px;color: blue;" class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;
                        </a>

                        <a *ngIf="editId == data.id && isEdit==true"  style="cursor:pointer;" title="save" (click)="saveDatafromRow(data)">
                            <i style="font-size: 14px;color: blue;" class="fa fa-save" aria-hidden="true"></i>&nbsp;&nbsp;
                        </a>
                        <a *ngIf="editId == data.id && isEdit==true"  style="cursor:pointer;" title="cancel" (click)="cancelEdit()">
                            <i style="font-size: 14px;color: blue;" class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;
                        </a>

                        

                        <a  style="cursor:pointer;"  title="delete">
                            <i style="font-size: 14px;color:red" class="fa fa-trash"
                                aria-hidden="true" (click)="deleteRequestModal(data,deletereq)"  ></i>
                        </a> -->
                                </td>

                            </tr>
                        </ng-container>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>


<!-- <ng-template #ruleVariableConfigure>
    
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
         
            <div class="modal-body">
               
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
                <button type="button" class="btn btnyes" >Yes</button>
            </div>
        </div>
    </div>

</ng-template> -->

<ng-template #deletereq>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">

            <div class="modal-body">
                <span style="color:black">Do you really want to send a delete request?</span>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
                <button type="button" class="btn btnyes" (click)="deletedata(datatodelete)">Yes</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #showdata>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">

            <div class="modal-body">
                <span style="color:black">Do you want to see a this data?</span>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="dontshowdata()">No</button>
                <button type="button" class="btn btnyes" (click)="showData()">Yes</button>
            </div>
        </div>
    </div>
</ng-template>