<div class="container-fluid">
    <div class="col-md-6 mt-3">
        <h2 class="page-title">SDM (Upload File)</h2>
        <br>
        <span style="color: red">{{upload_message}}</span>
        <br>
        <span >Last Uploaded At: {{last_uploaded_at}}</span>
        <br>
        <span >Last Uploaded By: {{last_uploaded_by}}</span>
        <br>
    </div>
    <div class="text-right">

        <!-- <a (click)="downloadTemplate()" style="color:rgb(0, 38, 255)"  >
            <i class="fa fa-download" aria-hidden="true"></i> Download Template
        </a> -->
        <button type="button" class="btnlink"  
        (click)="downloadTemplate()" style="width: 150px !important">Download Template</button>
    </div>
    <div draggable="true" ngClass="{{dragAreaClass}}" [ngClass]="blockUpload == true? 'disablecursor':''">
        <div class="row">
            <div class="col-md-12 mt-3 text-center uploadFile">
                Drag files here
                <a href="javascript:void(0)" (click)="file.click()">
                    or Click to browse file
                </a>
                <br>
                <ng-container *ngIf="error_list == true">
                    <span style="color:red">{{error_count}} error rows found...</span>
                    <br>
                    <a (click)="downloadError()" style="color:rgb(255, 0, 0)"  >
                        <i class="fa fa-download" aria-hidden="true"></i> Download Error Data
                    </a>
                </ng-container>
                <!-- href="{{file_path}}/template/template_Target.xlsx" -->
                <!-- <a (click)="downloadTemplate()" style="color:rgb(0, 38, 255)"  >
                    <i class="fa fa-download" aria-hidden="true"></i> Download Template
                </a> -->
                <input type="file" #file id="fileUp" [multiple]="false" (change)="uploadFile($event)" [disabled]="blockUpload" style="display:none" />
                <div class="dragged-files-wrapper" *ngIf="draggedFiles">
                    <div class="file mt-2" *ngFor="let file of draggedFiles">
                        {{file.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="error" *ngIf="error">
        Only one file at time allow
    </div>

    <div class="card customcardcolor mt-3">
        <div class="card-body">
            <table class="table table-hover table-responsive" style="max-height: 400px;">
                <thead>
                <tr>
                    
                    <!-- <th>policy_no</th>
                    <th>branch</th>
                    <th>producername</th>
                    <th>report_accounting_period</th>
                    <th>receipt_no</th>
                    <th>od_prem</th>
                    <th>premiumamount</th>
                    <th>policy_counter</th>
                    <th>binddate</th>
                    <th>satp_flag</th>
                    <th>licensed_nonlicensed</th>
                    <th>times_renewed_cnt</th>
                    <th>business_type_health</th>
                    <th>product_name</th>
                    <th>lob</th>
                    <th>minor_line</th>
                    <th>channel_new_2</th>
                    <th>sub_channel_new</th>
                    
                    <th>city_new</th>
                    <th>producer_cd</th>
                    <th>solid</th>
                    <th>Partner_Name</th> -->
                    <th>Policy No</th>
                    <th>Branch</th>
                    <th>Producer Name</th>
                    <th>Report Accounting Period</th>
                    <th>Receipt No</th>
                    <th>od Prem</th>
                    <th>Premium Amount</th>
                    <th>Policy Counter</th>
                    <th>Binddate</th>
                    <th>Satp Flag</th>
                    <th>Licensed Nonlicensed</th>
                    <th>Times Renewed Cnt</th>
                    <th>Business Type Health</th>
                    <th>Product Name</th>
                    <th>LOB</th>
                    <th>Minor Line</th>
                    <th>Channel New 2</th>
                    <th>Sub Channel New</th>
                    
                    <th>City New</th>
                    <th>Producer Code</th>
                    <th>Sol ID</th>
                    <th>Partner Name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let val of sdmList; let i = index">
                    <!-- <td *ngFor="let arr of val">{{arr}}</td> -->
                    <td>{{val.policy_no}}</td>
                    <td>{{val.branch}}</td>
                    <td>{{val.producername}}</td>
                    <td>{{val.report_accounting_period}}</td>
                    <td>{{val.receipt_no}}</td>
                    <td>{{val.od_prem}}</td>
                    <td>{{val.premiumamount}}</td>
                    <td>{{val.policy_counter}}</td>
                    <td>{{val.binddate}}</td>
                    <td>{{val.satp_flag}}</td>
                    <td>{{val.licensed_nonlicensed}}</td>
                    <td>{{val.times_renewed_cnt}}</td>
                    <td>{{val.business_type_health}}</td>
                    <td>{{val.product_name}}</td>
                    <td>{{val.lob}}</td>
                    <td>{{val.minor_line}}</td>
                    <td>{{val.channel_new_2}}</td>
                    <td>{{val.sub_channel_new}}</td>
                    <td>{{val.city_new}}</td>
                    <td>{{val.producer_cd}}</td>
                    <td>{{val.solid}}</td>
                    <td>{{val.Partner_Name}}</td>
                    
                </tr>
                </tbody>
            </table>

            <div class="mb-3" *ngIf="sdmList.length > 0">
                <div class="row float-right">
                    <div class="col-md-12">
                        <button class="btn btn-sm pagigbtn mt-2 mb-2" (click)="goPrev()" [disabled]="prevDisable">Previous</button>&nbsp;
                        <!-- Page {{page+1}} of {{totalPage}}&nbsp; -->
                        <button class="btn btn-sm pagigbtn mt-2 mb-2" (click)="goNext()" [disabled]="nextDisable">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteModal>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</ng-template>


<!-- <p>upload-file works!</p> -->


<!-- <p>sales-target works!</p> -->



<!-- <p>sdm works!</p> -->
