.multiselect{
    width:100%;
    /* background-color: aquamarine; */
    height: 280px;
}

.select{
    width:100%;
    min-height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.drpDownArea{
    height: 235px;    
    /* max-height: 245px; */
    
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    /* background-color: rgb(229, 201, 255); */
}