<div class="row">
    <div class="col-4" style="padding:5%">












        <div class="multiselect">



            <div class="select">

                <div style="width:80%; min-height: 35px; background-color: rgb(255, 255, 255);padding: 5px; text-indent: 5px; overflow: hidden;">

                    <!-- <div class="selectedItems" style="width:auto;max-width: 70%; background-color: blue; min-height: 25px; margin: 5px">
                        a
                    </div> -->

                    <!-- <div class="selectedItems" style="min-width: 15%;max-width: 20%; background-color: blue; min-height: 25px; margin: 5px">

                    </div>
                    <div class="selectedItems" style="min-width: 15%;max-width: 90%; background-color: blue; min-height: 25px; margin: 5px">

                    </div> -->

                </div>

                <div style="width:20%; min-height: 35px;background-color: rgb(231, 231, 231);"></div>
            </div>

            <div class="row drpDownArea">
                
            </div>



        </div>













    </div>
</div>
