#setTable{
    background-color: rgba(223, 223, 223, 0.199);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px!important;
}

/* #setTable .col-4 select{
    width:80%;
    height: 32px;
    border: 1px solid rgba(104, 104, 104, 0.664);
    border-radius: 5px;
    text-indent: 10px;
} */
/* #setTable .col-4 input{
    width:80%;
    height: 32px;
    border: 1px solid rgba(104, 104, 104, 0.664);
    border-radius: 5px;
    text-indent: 10px;
} */
.database_table_name{
    width:55%;
    height: 32px;
    border: 1px solid rgba(104, 104, 104, 0.664); 
    text-indent: 10px;
    border-radius: 5px;
}
.submit {
    /* width:35%;
    border: 1px solid rgba(104, 104, 104, 0.664);
    border-radius: 5px; */
    width: 100px;
    border-radius: 10px;
    border: none;
    padding: 8px 10px;
    background: transparent -webkit-linear-gradient(
            174deg, rgba(13, 53, 148, .898039), #35d3e1) 0 0 no-repeat padding-box;
    /* color: #fff; */
    font-size: 13px;
    -webkit-box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
    box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
}
.upload {
    width:100px;
    border: 1px solid rgba(104, 104, 104, 0.664);
    border-radius: 5px;  
}
label{
    color: #274a9f;
}
*{
    font-size: 10pt;
}