<notifier-container></notifier-container>
<div style="padding:3%; margin-top: 1%; ">
    <div class="row">
        <h2 class="page-title">Manual Mappping</h2>

    </div>
    <div class="row" style="height:90%;">
        <!-- <div class="col-12" style="padding: 1%; padding-bottom: 0; ">

            <div class="row">
                <div class="col-3">
                    <label>Map Module</label>
                </div>
                <div class="col-4">
                    <select class="form-control" [(ngModel)]="module_name" >
                        <option value="">Select Module</option>
                        <option *ngFor="let module of module_List" value="{{module.id}}">{{module.moduleName}}</option>
                    </select>
                </div>
                <div class="col-5">

                </div>
    
                <div class="col-3"></div>
                <div class="col-4" style="display: flex; justify-content: right;">
                    <button type="button" class="btnlink" [disabled]="mappingFile" (click)="mapfiledata()">Map File</button>
                </div>
                <div class="col-5">
                    
                </div>
            </div>
    
            <hr>
        
        </div> -->

        <div class="col-12" style="padding: 1%; ">

            <div class="row">

                <div class="col-3">
                    <label>KPI Year</label>
                </div>

                <div class="col-4">

                    <select class="form-control" [(ngModel)]="kpi_year">
                        <option value="">Select Year</option>
                        <option *ngFor="let yr of fYearList" value="{{yr}}">{{yr}}</option>
                    </select>
                </div>

                <div class="col-5"></div>





                <div class="col-3">
                    <label>KPI Month</label>
                </div>
                <div class="col-4">

                    <select class="form-control" [(ngModel)]="kpi_month">
                        <option value="">Select Month</option>
                        <option value="{{m.id}}" *ngFor="let m of monthList">{{m.name}}</option>
                    </select>
                </div>
                <div class="col-5"></div>

            </div>




            <div class="row ">

                <div class="col-3">
                    <label>KPI Channel</label>
                </div>

                <div class="col-4">
                    <select class="form-control" [(ngModel)]="channelNew" (change)="getVerticals(); channelWiseMappingDetails()"  [disabled]="selectedDefaultChannelName != 'all' && userLevel != '4'">

                        <option value="all">Select Channel</option>

                        <option value="{{channel.id}}" *ngFor="let channel of channelNewList">{{channel.channelNewName}}
                        </option>

                    </select>
                </div>
                <div class="col-5"></div>



                <!-- <div class="col-3">
                    <label>Sub-Channel</label>
                </div>
                <div class="col-4">

                    <select class="form-control" [(ngModel)]="subchannel">
                        
                        <option value="">Select Sub Channel</option>
                        <option value="{{channel.id}}" *ngFor="let channel of channelNewList">{{channel.channelNewName}}
                        </option>
                    </select>
                </div>
                <div class="col-5"></div> -->


                <div class="col-3">
                    <label>Vertical Name</label>
                </div>
                <div class="col-4">

                    <select class="form-control" [(ngModel)]="verticalName">


                        <option value="">Select Vertical</option>
                        <option value="{{vertical.verticalName}}" *ngFor="let vertical of verticalList">
                            {{vertical.verticalName}}</option>
                    </select>
                </div>
                <div class="col-5"></div>

            </div>

            

            <div class="row">

                <div class="col-3">
                    <label>File Type</label>
                </div>

                <div class="col-4">

                    <select name="" id="" class="form-control" [(ngModel)]="mappingFileTypeId">
                        <option value="">Select File Type</option>
                        <option value= "{{fileType.id}}" *ngFor="let fileType of fileTypeList">{{fileType.details_description}}</option>
                        <!-- <option value="sdm">SDM</option>
                        <option value="prodcom">Prodcom</option>
                        <option value="gmc prodcom">GMC Prodcom</option>
                        <option value="retention">Retention</option>
                        <option value="hygiene">Hygiene</option>
                        <option value="cor">COR</option>
                        <option value="attrition">Attrition</option>
                        <option value="penetration">Penetration</option>
                        <option value="market share">Market Share</option>
                        <option value="static cancellation">Static Cancellation</option>
                        <option value="pvcl">PVCL</option>
                        <option value="cheque bounce">Cheque Bounce</option>
                        <option value="portal receivable">Portal Receivable</option>
                        <option value="receivable">OEM Receivable</option>
                        <option value="dealer payout">Dealer Payout</option>
                        <option value="activation">Activation</option>
                        <option value="branchData">Branch Data</option>
                        <option value="pyp">PYP Data</option>
                        <option value="saactivation">SA Activation</option>
                        <option value="naactivation">NA Activation</option>
                        <option value="powerrecruitment">Power Recruitment</option>
                        <option value="csmproductivity">CSM Productivity</option>
                        <option value="newchannelactivation">New Channel Activation</option> -->
                    </select>
                </div>
                <div class="col-5"></div>

            </div>

            <div class="row" style="padding-top:2%">

                <div class="col-3"></div>

                <div class="col-4" style="display: flex; justify-content: right;">

                    <button  *ngIf="!mapping" type="button" class="btnlink" (click)="savekpiManually()">
                        <span>Map</span>
                    </button>

                    <button *ngIf="mapping" type="button" class="btnlink" [disabled]="true" style="opacity: 0.5;">
                        <span>Mapping</span>
                    </button>
                </div>
                <div class="col-5"></div>
            </div>

        </div>

    </div>
</div>
