<!-- <p>homepage works!</p> -->
<!-- <div class="container-fluid" style="padding: 0;">
    <img src="assets/image/home_back2.jpg" alt="" style="width: 100%;">
</div> -->

<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> -->
<notifier-container>
</notifier-container>

<div class="cntainer-fluid" style="background-image:url(assets/image/newWhiteBack.jpg) ;background-repeat: no-repeat;
background-size: 100%;">

    <div class="row">

        <div class="col-sm-12" style="padding: 2%;padding-bottom: 10px;padding-left: 2%;">
        
            <span class="pageName">TATA AIG</span> 
            
        </div>
        <div class="col-sm-12" style="padding-left:3%">
        
            <span class="pageName1">KPI</span> 
            <!-- <span>{{userType}}</span> -->
            
        </div>
    
    </div>
    
    
    <div class="container" style="width: 100%; padding-top: 2%;">
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center border-primary">
                <!-- [ngClass]="uploadVisible == false? 'disable':''"  -->
                <div class="col" style="display: flex; justify-content: center;">
                <div id="fullCard" [ngClass]="(userType == 1 || userType == 4)? 'accessible':''" class="card mb-4 rounded-3 shadow-sm " style="box-shadow: 1px 1px 10px 5px #8888884d!important;height: 200px;width: 80%;"  (click)="goToUpload()">
                    <div id="cardheader" class="card-header text-white bg-primary border-primary" >
                    <h4 class="my-0 fw-normal">Upload</h4>
                    </div>
                    <div class="card-body" style="background-image:url(assets/image/upload_outline1.png) ;background-repeat: no-repeat;
                    background-size: 24%;">


                        <!-- <div class="row text-center cardButton">
                                <button class="btnlink">sdfs</button>
                        </div> -->
                    
                    </div>
                </div>
                </div>
                <!-- [ngClass]="auditVisible == false? 'disable':''"  -->
    
                <div class="col" style="display: flex; justify-content: center;">
                <div id="fullCard" [ngClass]="(userType == 2 || userType == 4)? 'accessible':''" class="card mb-4 rounded-3 shadow-sm " style="box-shadow: 1px 1px 10px 5px #8888884d!important;height: 200px; width: 80%;"  (click)="goToAudit()">
                    <!-- <div id="cardheader" class="card-header text-white bg-primary border-primary" (click)="showValidation=true">
                    <h4 class="my-0 fw-normal" >Validation</h4> -->
                    <div id="cardheader" class="card-header text-white bg-primary border-primary" >
                        <h4 class="my-0 fw-normal" >Audit File</h4>
                    </div>
                    <div class="card-body" style="background-image:url(assets/image/validation_outline1.png) ;background-repeat: no-repeat;
                    background-size: 20%;margin-left: 5%;">
                    
                    </div>
                </div>
                </div>
                <!-- [ngClass]="mappingVisible == false? 'disable':''"  -->
    
                <div class="col" style="display: flex; justify-content: center;">
                <div id="fullCard" [ngClass]="(userType == 1 || userType == 4)? 'accessible':''" class="card mb-4 rounded-3 shadow-sm " style="box-shadow: 1px 1px 10px 5px #8888884d!important;height: 200px; width: 80%;"  (click)="goToMapping()">
                    <div id="cardheader" class="card-header text-white bg-primary border-primary"  >
                    <h4 class="my-0 fw-normal">Mapping</h4>
                    </div>
                    <div class="card-body" style="background-image:url(assets/image/mapping_outline1.png) ;background-repeat: no-repeat;
                    background-size: 17%;">
                    
                    </div>
                </div>
                </div>
                
            </div>
    
    
    
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center border-primary">
    
                <!-- [ngClass]="calculationVisible == false? 'disable':''" -->
                <div class="col" style="display: flex; justify-content: center;">
                    <div id="fullCard" [ngClass]="(userType == 1 || userType == 4)? 'accessible':''"  class="card mb-4 rounded-3 shadow-sm " style="box-shadow: 1px 1px 10px 5px #8888884d!important;height: 200px; width: 80%;" (click)="goToCalculation()">
                    <div id="cardheader" class="card-header text-white bg-primary border-primary" >
                        <h4 class="my-0 fw-normal">Calculations</h4>
                    </div>
                    <div class="card-body" style="background-image:url(assets/image/calculation_outline1.png) ;background-repeat: no-repeat;
                    background-size: 22%;">
                        
                    </div>
                    </div>
                </div>
                <!-- [ngClass]="gscoreVisible == false? 'disable':''"  -->
    
                <div class="col" style="display: flex; justify-content: center;">
                    <div id="fullCard" [ngClass]="(userType == 1 || userType == 4)? 'accessible':''"  class="card mb-4 rounded-3 shadow-sm " style="box-shadow: 1px 1px 10px 5px #8888884d!important;height: 200px; width: 80%;" (click)="goToGenerateScore()">
                    <!-- <div id="cardheader" class="card-header text-white bg-primary border-primary" (click)="goToGenerateScore()"> -->
                    <div id="cardheader" class="card-header text-white bg-primary border-primary" >
                    
                        <h4 class="my-0 fw-normal">Generate Score</h4>
                    </div>
                    <div class="card-body" style="background-image:url(assets/image/score_outline1.png) ;background-repeat: no-repeat;
                    background-size: 22%;">
                        
                    </div>
                    </div>
                </div>
                <!-- [ngClass]="pubScoreVisible == false? 'disable':''"  -->
                <div class="col" style="display: flex; justify-content: center;">
                    <div id="fullCard"  class="card mb-4 rounded-3 shadow-sm accessible" style="box-shadow: 1px 1px 10px 5px #8888884d!important;height: 200px; width: 80%;" (click)="goToViewScore()" >
                    <div id="cardheader" class="card-header text-white bg-primary border-primary" >
                        <h4 class="my-0 fw-normal">Publish Score</h4>
                    </div>
                    <div class="card-body" style="background-image:url(assets/image/publish_outline1.png) ;background-repeat: no-repeat;
                    background-size: 24%;margin-left: 5%;">
                        
                    </div>
                    </div>
                </div>
                
            </div>
        </main>
    </div>
    

</div>



<div *ngIf="showValidation" style="z-index: 1; width: 100%; height:100%; background-color: rgba(0, 0, 0, 0); position: fixed; top:0%; left: 0%">
    <div class="container" style=" width: 30%; height: 30%; background-color: #ffffff; position: fixed; top:35%; left: 35%; border-radius: 2px; box-shadow: 1px 1px 10px 5px #88888895; padding:0px; overflow: hidden; align-items: center!important;">

        <div class="row" style=" justify-content: right; display: flex; background: transparent -webkit-linear-gradient(174deg, rgba(13, 53, 148, .898039), #35d3e1) 0 0 no-repeat padding-box; min-height: 50px; padding: 10px;align-items: center!important;">
            <button style="border-radius: 50%; border-style: none;text-align: center;background-color: #ffffff; width:20px; height: 20px;" (click)="showValidation=!showValidation">
                <span style="color: rgb(0, 65, 109); font-size: 14px; font-weight: 500; cursor: pointer;">X</span>
            </button>
            
        </div>
        

        <div class="row" style=" justify-content: center; display: flex;padding-top: 5%;">
            <span style="color: rgb(0, 167, 0); font-size: bold;font-size: 40px;">
                <!-- &#x26A0; -->
                <i class="fa fa-check" aria-hidden="true"></i>
            </span>
            <br>
        </div>

        <div class="row" style=" justify-content: center; display: flex;padding-top: 5%;">
            <span style="color: rgb(0, 106, 177); font-size: 16px;">
                Validation
            </span>
        </div>
        <div  class="row text-center" style=" justify-content: center; display: flex;padding-top: 1%;">
            <span style="color: rgb(0, 26, 43); font-size: 13px;">
                Checking Uploaded Data and Throwing Error data to Prevent Miscalculations
            </span>
        </div>
    </div>
</div>


