
<notifier-container></notifier-container>
<div>

    <div style="margin-top: 0%; padding:2%">

        <div class="row" style="padding-left:1%; ">
    
            <div class="col-6" style="padding: 0;">
    
                <h2 class="page-title">TATA AIG KPI</h2>
    
            </div>
    
            <div class="col-6" style="display: flex; justify-content: right;">
    
                <!-- <button class="btnlink" style=" width:150px; height: 40px;" (click)="openModal(newBatchmodal)">Create New Batch</button> -->
    
            </div>

            <div class="col-6"  style="padding-bottom: 10px">

                <div class="row">

                    <div class="col-6">
                        <label>KPI Channel</label>
                
                        <select class="form-control" [(ngModel)]="channelNewid" style="max-width: 250px;" (change)="selectChannel()">

                            <option value="all">Select All</option>

                            <option value="{{channel.id}}" *ngFor="let channel of channelNewList">{{channel.channelNewName}}
                            </option>

                        </select>
                    </div>

                    <div class="col-6"  *ngIf="channelName.length!=0">
                        <!-- <circle-progress
                        [percent]="100"
                        [radius]="40"
                        [outerStrokeWidth]="5"
                        [innerStrokeWidth]="3"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300">
                        </circle-progress> -->
                    </div>

                </div>
            </div>
            <div class="col-6">
                
            </div>
        </div>
    
    
   
        <div class="row" style="padding-top:0%; padding-left:1%; padding-right: 1%;"> 
            <div class="col-7">

                <table  style="width: 100%!important; height:45px ">
                    <thead>
                        <tr style="background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box;">
                            
                            <th style="width:40%!important; text-align: left; font-size: 11px;">File Type</th>
                            <th style="width:12%!important; font-size: 11px; ">Validation</th>
                            <th  style="width:12%!important; font-size: 11px;">Upload</th>
                            <th style="width:12%!important; font-size: 11px; ">Approve</th>
                            <th style="width:12%!important; font-size: 11px;  ">Mapping</th>
                            <th  style="width:12%!important; font-size: 11px; ">Score</th>
                            
    
                        </tr>
                    </thead>
                </table>

                <div class="table tableArea"  style="max-height: 50vh; overflow-x: hidden; overflow-y: scroll; width: 100%!important;">

                    <table class="table" style="width: 100%!important;">
                        
                        
                        <tbody style="width:100%!important;">
                            
                            <tr style="width:100%!important" *ngFor="let task of filteredTaskList">
    
                                <td style="width: 40%!important; font-size: 11px!important;">{{task.fileType}}</td>
                                
                                <td style="width:12%!important; padding-top: 20px; padding-right: 1px;padding-left: 0px;">
                                    <div *ngIf="task.is_uploaded == 1"  style="width:100%; height:5px; background-color: #033438;"></div>
                                    <div *ngIf="task.is_uploaded == 0"  style="width:100%; height:5px; background-color: rgb(119, 58, 0);"></div>
                                </td>
    
                                <td  style="width:12%!important; padding-top: 20px; padding-right: 1px;padding-left: 0px;">
                                    <div *ngIf="task.is_uploaded == 1"  style="width:100%; height:5px; background-color: #12575e;"></div>
                                    <div *ngIf="task.is_uploaded == 0"  style="width:100%; height:5px; background-color: rgb(187, 93, 5);"></div>
                                    
                                </td>
    
                                <td style="width:12%!important; padding-top: 20px; padding-right: 1px;padding-left: 0px;">
                                    <div *ngIf="task.is_approved == 1"  style="width:100%; height:5px; background-color: #1d767e;"></div>
                                    <div *ngIf="task.is_approved == 0"  style="width:100%; height:5px; background-color: rgb(206, 116, 32);"></div>  
                                </td>
    
    
                                <td style="width:12%!important; padding-top: 20px;  padding-right: 1px;padding-left: 0px;">
                                    <div *ngIf="task.is_approved == 1"  style="width:100%; height:5px; background-color: #30b9c5;"></div>
                                    <div *ngIf="task.is_approved == 0"  style="width:100%; height:5px; background-color: rgb(196, 145, 98);"></div>
                                </td>
    
    
                                <td style="width:12%!important; padding-top: 20px; padding-right: 1px;padding-left: 0px;">
                                    <div *ngIf="task.taskStatus == 1"  style="width:100%; height:5px; background-color: #35d3e1;"></div>
                                    <div *ngIf="task.taskStatus == 0"  style="width:100%; height:5px; background-color: rgb(255, 219, 185);"></div>
                                </td>


                                <!-- <td style="width:12%!important;">
                                    <div *ngIf="task.is_uploaded == 1"  style="width:100%; height:5px; background-color: #033438;"></div>
                                    <div *ngIf="task.is_uploaded == 0"  style="width:100%; height:5px; background-color: rgb(119, 58, 0);"></div>
                                </td>
    
                                <td  style="width:12%!important;">
                                    <div *ngIf="task.is_uploaded == 1"  style="width:100%; height:5px; background-color: #12575e;"></div>
                                    <div *ngIf="task.is_uploaded == 0"  style="width:100%; height:5px; background-color: rgb(187, 93, 5);"></div>
                                    
                                </td>
    
                                <td style="width:12%!important;">
                                    <div *ngIf="task.is_approved == 1"  style="width:100%; height:5px; background-color: #1d767e;"></div>
                                    <div *ngIf="task.is_approved == 0"  style="width:100%; height:5px; background-color: rgb(206, 116, 32);"></div>  
                                </td>
    
    
                                <td style="width:12%!important;">
                                    <div *ngIf="task.is_approved == 1"  style="width:100%; height:5px; background-color: #30b9c5;"></div>
                                    <div *ngIf="task.is_approved == 0"  style="width:100%; height:5px; background-color: rgb(196, 145, 98);"></div>
                                </td>
    
    
                                <td style="width:12%!important;padding:0">
                                    <div *ngIf="task.taskStatus == 1"  style="width:100%; height:60px;background-image: url('assets/image/trackingBarDone.jpg');background-repeat: no-repeat; background-size: cover;"></div>
                                    <div *ngIf="task.taskStatus == 0"  style="width:100%; height:auto;"></div>
                                </td> -->
                                
                            </tr>
                        </tbody> 
                    </table>

                </div>
                
            </div>
            <div class="col-5">

                <div class="row d-flex justify-content-center" style="padding-top: 0px;">

                    <div  *ngIf="selectedRow!=''"  class="col-6 d-flex justify-content-center mt-10">
                        <circle-progress
                        [percent]="100"
                        [radius]="70"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="7"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300">
                        [title]: ["working","in","progress"],
                        </circle-progress>
                    </div>

                    <div *ngIf="channelName.length!=0" class="col-6 d-flex justify-content-center mt-10">
                        <circle-progress
                        [percent]="90"
                        [radius]="70"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="7"
                        [outerStrokeColor]="'#12575e'"
                        [innerStrokeColor]="'#35d3e1'"
                        [animation]="true"
                        [animationDuration]="300">
                        </circle-progress>
                    </div>

                    
                    

                    

                    

                </div>

                <div class="row mt-10 d-flex justify-content-center" >
                    <div *ngIf="selectedRow!=''"  class="col-6" style="text-align: center;">
                        {{selectedRow}}
                    </div>

                    <div *ngIf="channelName.length!=0" class="col-6" style="text-align: center;">
                        {{channelName}}
                    </div>
                </div>


                
                <!-- <div class="row d-flex justify-content-center mt-10" >

                    <circle-progress
                        [percent]="90"
                        [radius]="70"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="7"
                        [outerStrokeColor]="'#12575e'"
                        [innerStrokeColor]="'#35d3e1'"
                        [animation]="true"
                        [animationDuration]="300">
                    </circle-progress>

                    <div class="col-12" style="text-align: center;">
                        Hygiene
                    </div>
                    

                </div> -->

                
            </div>

            
        </div>
    </div>

   
</div>













