<div style="margin-top: 2%; padding:2%">
    <div class="row" style="padding-left:1%">
        <h2 class="page-title">Schedular Details</h2>        
        <button class="btnlink" style="right: 2%; width: 100px; position: absolute;" (click)="addschedular()">Add User</button>
    </div>
    
    <div class="row" style="padding-top:2%; padding-left:1%; padding-right: 1%;">
        <table class="table">
            <thead>
                <tr
                    style="background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box;">
                    <th>Sl No.</th>
                    <th>Main Channel</th>
                    <th>File Type</th>
                    <th>Upload With In</th>
                    <th>Status</th>
                    <th>Email</th>
                    <th>Number of Reminder</th>
                    <th>Reminder Date</th>
                    <th>Maker</th>
                    <th>Checker</th>
                    <th style="width: 8%">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of tableData; let i = index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{item.mainChannel}}</td>
                        <td>{{item.fileType}}</td>
                        <td>{{item.uploadWithin}}</td>
                        <td>
                            <span *ngIf="item.status == 'Approved'" style="color:green">{{item.status}}</span>
                            <span *ngIf="item.status == 'Upload'">{{item.status}}</span>
                            <span *ngIf="item.status == 'Rejected'" style="color:red">{{item.status}}</span>
                            <span *ngIf="item.status == 'Pending'">{{item.status}}</span>
                        </td>
                        <td>{{item.emailID}}</td>
                        <td>{{item.remainderCount}}</td>
                        <td>{{item.remainderDate}}</td>
                        <td>{{item.maker}}</td>
                        <td>{{item.checker}}</td>
                        <td class="only-show-on-hover">
                            <mat-icon [ngClass]="showAction == item.mainChannel?'':'only-show-on-hover'" style="cursor: pointer; color: #185EC4 !important;font-size:15px;" (click)="editSchedule(item.id)"><i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i></mat-icon>
                            &nbsp;
                            <mat-icon [ngClass]="showAction == item.mainChannel? '':'only-show-on-hover'" style="cursor: pointer; color: #ff0202 !important;font-size:15px;"
                                (click)="openDeleteModal(deleteModal,item.id)"><i
                                class="fa fa-trash" aria-hidden="true" ></i></mat-icon>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<ng-template #deleteModal>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
            </div>
        </div>
    </div>
</ng-template>