<!-- <p>uploaded-files-new works!</p> -->
<!-- <p>viewkpi works!</p> -->
<notifier-container></notifier-container>
<div class="container-fluid">
    <div class="row">

        <div class="col" style="padding: 1%; margin-left: 5px;">
    
            <div class="row" style="padding-top:3%">
                <div class="col" style="padding:0px !important;">
                    <h2 class="page-title">Uploaded File Details</h2>
                    <div class="row">
    
                        <!-- <div class="col-3">
                            <label>User
                            </label>
    
                            <select class="form-control" [(ngModel)]="userId" (change)="onUserChnage()">
    
                                <option value="">Select All</option>
                                <option *ngFor="let user of userList" [value]="user.user_id">{{user.name}}</option>
                            </select>
                        </div> -->
    
                        <div class="col-3">
                            <label>Status
                            </label>
    
                            <select class="form-control" [(ngModel)]="status" (change)="getAuditList()">
    
                                <option value="">Select All</option>
                                <option value="2">Uploaded</option>
                                <option value="0">Pending</option>
                                <option value="1">Approved</option>
    
                                <option value="3">Failed</option>
                                <option value="4">Rejected</option>

    
                            </select>
                        </div>

                        <div class="col-3">
                            <label>Channel
                            </label>
    
                            <select class="form-control" [(ngModel)]="channelId" (change)="getAuditList()"  [disabled]="selectedDefaultChannelName != 'all' && userLevel != '4'">
    
                                <option value="all">Select All</option>
                                <option value="{{channel.id}}" *ngFor="let channel of channelNewList">{{channel.channelNewName}}</option>
                            </select>
                        </div>
                     
    
                    </div>
    
                </div>
            </div>
            <div class="row " style="padding-top: 2%">
                <table class="table">
                    <thead>
                        <tr
                            style="color:rgb(94, 93, 93);background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box;">
                            <!-- <th>Seq.</th> -->
                            <th>File Name</th>
                            <th>File Type</th>
                            <th>Upload Date</th>
                            <th>Uploaded By</th>
                            <!-- <th>Approval Date</th>
                            <th>Approved By</th> -->
                            <!-- <th>Branch Name</th> -->
    
                            <th>Status</th>
    
    
                            <th style="width:10%">Action</th>
    
    
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="fileheader == true">
    
                            <tr *ngFor="let obj of auditList; let i = index;">
                                <!-- <td>{{offset + (i + 1)}}</td> -->
                                <td>{{obj.file_name}}</td>
                                <td>{{obj.fileType}}</td>
                                <td>{{obj.created_at}}</td>
                                <td>{{obj.userName}}</td>
                                <!-- <td>{{obj.approved_at}}</td>
                                <td>{{obj.approved_by}}</td> -->
                                <!-- <td>{{obj.branch}}</td> -->
    
                                <td>
                                    <span *ngIf="obj.status == 0">Pending</span>
                                    <span *ngIf="obj.status == 2" style="color:blue">Uploaded</span>
    
                                    <span *ngIf="obj.status == 1" style="color:green">Approved</span>
                                    <span *ngIf="obj.status == 3" style="color:red">Failed</span>
                                    <span *ngIf="obj.status == 4" style="color:red">Rejected</span>

    
                                </td>
    
                                <td>
                                    <a *ngIf="obj.status == 3" style="cursor:pointer;" title="Download Error"
                                        (click)="onErrorDownload(obj.error_file_name)">
                                        <i style="font-size: 10pt;color: red;" class="fa fa-exclamation-circle"
                                            aria-hidden="true"></i>
                                    </a>
                                    

                                    <!-- <a *ngIf="obj.status == 2" style="cursor:pointer;" (click)="editFile(obj.id)"> -->
                                    <a *ngIf="obj.status == 2 || obj.status == 1"  style="cursor:pointer;" (click)="editFile(obj.id, obj.fileTypeId,obj.moduleId)">
                                        <i style="font-size: 10pt;color: blue;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>&nbsp;&nbsp;


                                    <!-- <a *ngIf="obj.status == 2" style="cursor:pointer;" (click)="approveFile(obj.id)">
                                        <i style="font-size: 20px;color: blue;" class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </a> -->
                                    <a *ngIf="obj.status != 3" style="cursor:pointer;" title="Show"
                                        (click)="showDetailsData(obj.id, obj.fileTypeId,obj.moduleId)">
                                        <i style="font-size: 10pt;color: blue;" class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a *ngIf="obj.status == 2 || obj.status == 1" style="cursor:pointer;" (click)="deleteRequestModal(obj.id,deletereq)" title="delete">
                                        <i style="font-size: 10pt;color:red" class="fa fa-trash"
                                            aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- <ng-container > -->
                        <ng-container *ngFor="let obj of auditList; let i = index;">
    
                            <tr *ngIf="fileheader == false && detailFileId == obj.id">
                                <!-- <td>{{offset + (i + 1)}}</td> -->
                                <td>{{obj.file_name}}</td>
                                <td>{{obj.fileType}}</td>
                                <td>{{obj.created_at}}</td>
                                <td>{{obj.userName}}</td>

                                <!-- <td>{{obj.approved_at}}</td>
                                <td>{{obj.approved_by}}</td> -->
                                <!-- <td>{{obj.branch}}</td> -->
    
                                <td>
                                    <span *ngIf="obj.status == 0">Pending</span>
                                    <span *ngIf="obj.status == 2" style="color:blue">Uploaded</span>
    
                                    <span *ngIf="obj.status == 1" style="color:green">Approved</span>
                                    <span *ngIf="obj.status == 3" style="color:red">Failed</span>
                                    <span *ngIf="obj.status == 4" style="color:red">Rejected</span>

    
                                </td>
    
                                <td>
    
                                    <a style="cursor:pointer;" (click)="hideDetailsData()" title="Hide">
                                        <i style="font-size: 20px;color: blue;" class="fa fa-eye-slash"
                                            aria-hidden="true"></i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a *ngIf="obj.status == 2 || obj.status == 1" style="cursor:pointer;" (click)="deleteRequestModal(obj.id,deletereq)" title="delete">
                                        <i style="font-size: 20px;color:red" class="fa fa-trash"
                                            aria-hidden="true"></i>
                                    </a>
                                    <!-- <a *ngIf="obj.status == 2 || obj.status == 4" style="cursor:pointer;" (click)="openApproveRejectModal(obj.id, 1,ApproveReject)" title="Approve">
                                        <i style="font-size: 20px;color: blue;" class="fa fa-thumbs-up"
                                            aria-hidden="true"></i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a *ngIf="obj.status == 2" style="cursor:pointer;" (click)="openApproveRejectModal(obj.id, 4,ApproveReject)" title="Reject">
                                        <i style="font-size: 20px;color: red;" class="fa fa-times-circle"
                                            aria-hidden="true"></i>
                                    </a> -->
                                </td>
                            </tr>
                        </ng-container>
    
                        <!-- </ng-container> -->
                        <br>
                    </tbody>
                </table>
                
            </div>
            <ng-container *ngIf="loading == true">
                <span>getting details...
                    <!-- <mat-spinner diameter="15" customSpinner color="#1565C0" style="margin-left:5px; margin-right: 0; display: inline;"></mat-spinner> -->
                </span>
            </ng-container>
            <ng-container *ngIf="fileheader == false && loading == false"
                style="max-width:100vw; overflow-x:scroll">
                <span>*{{totalRow}} rows found</span>
                <div class=" text-right"  >

                    <button type="button"  class="btnlink" (click)="downloadData()" 
                        ><span *ngIf="downloading == true">Downloading...</span><span *ngIf="downloading == false">Download</span></button>
                        
                </div>

                <!-- <div class="container-fluid"> -->
                <div class="card customcardcolor mt-3">
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-hover" style="max-height: 400px;overflow-y: auto;">

                            <thead>
                                <tr
                                    style="color:rgb(94, 93, 93);background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box;">
                                    <ng-container *ngFor="let col of detailColumn">
                                        <th>{{col}}</th>
                                    </ng-container>

                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let data of detailsData">
                                    <tr>
                                        <ng-container *ngFor="let col of detailColumn">
                                            <td>{{data[col]}}</td>
                                        </ng-container>
                                    </tr>


                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                <!-- </div> -->

            </ng-container>
    
            <!-- <div class="text-right">
                <button class="btn btn-primary">Previous</button>
                <button class="btn btn-primary ml-3">Next</button>
            </div>-->
    
        </div>
    </div>
</div>
<ng-template #detailsModal>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
            <div class="modal-header flex-column">
                <h2>Modify Audit</h2>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table">
                        <tr>
                            <th>Seq.</th>
                            <th>User Name</th>
                            <th>Modify Time</th>
                        </tr>
                        <tr *ngFor="let obj of modifyList; let i = index;">
                            <td>{{i + 1}}</td>
                            <td>{{obj.userName}}</td>
                            <td>{{obj.modified_at}}</td>
                        </tr>
                        <tr *ngIf="modifyList.length === 0">
                            <td colspan="3" class="text-center">
                                No modification data found
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>




<ng-template #deletereq>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
         
            <div class="modal-body">
               <span style="color:black">DO you really want to send a delete request?</span>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
                <button type="button" class="btn btnyes" (click)="sendDeleteReq(deleteId)">Yes</button>
            </div>
        </div>
    </div>
</ng-template>