/* .content {
    padding: 7rem 0; }
.borderPadding{
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #bfc3cf;
    background: #ebebeb;
}
.field-icon {
    float: right;
    margin-right: 15px;
    margin-top: -27px;
    position: relative;
    cursor: pointer;
    z-index: 2;
} */







/* .credential{
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
} */


.content {
    padding: 7rem 0; }
.borderPadding{
    /* box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #bfc3cf; */
    box-shadow: 1px 1px 10px 5px #007fc995;
    /* background: #ebebeb; */
    background: #ffffff;

}
.field-icon {
    float: right;
    margin-right: 15px;
    margin-top: -27px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}