<!-- <p>pending-request works!</p> -->
<!-- <p>uploaded-files-new works!</p> -->
<!-- <p>viewkpi works!</p> -->
<notifier-container></notifier-container>
<div class="container-fluid">
    <div class="row">

        <div class="col" style="padding: 1%; margin-left: 5px;">
    
            <div class="row" style="padding-top:3%">
                <div class="col" style="padding:0px !important;">
                    <h2 class="page-title">Pending Delete Requests</h2>
                    <div class="row">
                        <div class="col-3">
                            <label>Channel
                            </label>
    
                            <select class="form-control" [(ngModel)]="channelId" (change)="getPendingReq()" [disabled]="selectedDefaultChannelName != 'all' && userLevel != '4'"[disabled]="selectedDefaultChannelName != 'all'">
    
                                <option value="all">Select All</option>
                                <option value="{{channel.id}}" *ngFor="let channel of channelNewList">{{channel.channelNewName}}</option>
                            </select>
                        </div>
    
                        <!-- <div class="col-3">
                            <label>User
                            </label>
    
                            <select class="form-control" [(ngModel)]="userId" (change)="onUserChnage()">
    
                                <option value="">Select All</option>
                                <option *ngFor="let user of userList" [value]="user.user_id">{{user.name}}</option>
                            </select>
                        </div> -->
<!--     
                        <div class="col-3">
                            <label>Status
                            </label>
    
                            <select class="form-control" [(ngModel)]="status" >
    
                                <option value="">Select All</option>
                                <option value="2">Uploaded</option>
                                <option value="0">Pending</option>
                                <option value="1">Approved</option>
    
                                <option value="3">Failed</option>
                                <option value="4">Rejected</option>

    
                            </select>
                        </div>
                      -->
    
                    </div>
    
                </div>
            </div>
            <div class="row " style="padding-top: 2%">
                <table class="table">
                    <thead>
                        <tr
                            style="color:rgb(94, 93, 93);background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box;">
                            <!-- <th>Seq.</th> -->
                            <th>File Name</th>
                            <th>File Type</th>
                            <th>Request Date</th>
                            <th>Requested By</th>
                            <!-- <th>Approval Date</th>
                            <th>Approved By</th> -->
                            <!-- <th>Branch Name</th> -->
    
                            <th>Status</th>
    
    
                            <th style="width:10%">Action</th>
    
    
                        </tr>
                    </thead>

                    


                    <tbody *ngIf="channelId != 'all'">
                    <!-- <tbody > -->
                        
                            <tr *ngIf="!(pendingList.length > 0)">
                                &nbsp; &nbsp; No Pending Delete Request
                            </tr>
                            <tr *ngFor="let obj of pendingList; let i = index;">
                                <!-- <td>{{offset + (i + 1)}}</td> -->
                                <td>{{obj.fileName}}</td>
                                <td>{{obj.fileType}}</td>
                                <td>{{obj.request_at}}</td>
                                <td>{{obj.name}}</td>
                                <!-- <td>{{obj.approved_at}}</td>
                                <td>{{obj.approved_by}}</td> -->
                                <!-- <td>{{obj.branch}}</td> -->
    
                                <td>
                                    <span *ngIf="obj.request_status == 0">Pending</span>
                                
    
                                    <span *ngIf="obj.request_status == 1" style="color:green">Deleted</span>
                                   

    
                                </td>
    
                                <td>
                                                    <a *ngIf="obj.request_status == 0" style="cursor:pointer;" (click)="openModal(obj.id, 1, obj.fileId, obj.fileTypeId,obj.channelId, deletereq)" title="Confirm Delete">
                    <i style="font-size: 20px;color: blue;" class="fa fa-thumbs-up"
                        aria-hidden="true"></i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a *ngIf="obj.request_status == 0" style="cursor:pointer;" (click)="openModal(obj.id, 0, obj.fileId, obj.fileTypeId,obj.channelId,  deletereq)" title="Revoke">
                                        <i style="font-size: 20px;color: red;" class="fa fa-times-circle"
                                            aria-hidden="true"></i>
                                    </a>
                                    <!-- <a *ngIf="obj.status == 3" style="cursor:pointer;" title="Download Error"
                                        (click)="onErrorDownload(obj.error_file_name)">
                                        <i style="font-size: 20px;color: red;" class="fa fa-exclamation-circle"
                                            aria-hidden="true"></i>
                                    </a> -->
                                    <!-- <a *ngIf="obj.status == 2" style="cursor:pointer;" (click)="approveFile(obj.id)">
                                        <i style="font-size: 20px;color: blue;" class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </a> -->
                                    <!-- <a *ngIf="obj.status != 3" style="cursor:pointer;" title="Show"
                                        (click)="showDetailsData(obj.id, obj.fileTypeId)">
                                        <i style="font-size: 20px;color: blue;" class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a *ngIf="obj.status == 2 || obj.status == 1" style="cursor:pointer;" (click)="deleteRequestModal(obj.id,deletereq)" title="delete">
                                        <i style="font-size: 20px;color:red" class="fa fa-trash"
                                            aria-hidden="true"></i>
                                    </a> -->
                                </td>
                            </tr>
                
                       
    

                        <br>
                    </tbody>
                </table>

                <span  *ngIf="channelId == 'all'"> Please select a Channel from Default Settings. Press <span style="color: blue;">ctrl + s</span> to open Default settings.</span>
                
            </div>
            
    
          
    
        </div>
    </div>
</div>




<ng-template #deletereq>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
         
            <div class="modal-body">
               <span style="color:black">Are you sure? This Process can not be undone.</span>
               <span *ngIf="approve == 1" style="color:red">This action will remove all the data captured from the completed processes and you need to upload the files again. Check Control Panel for Details.</span>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
                <button type="button" class="btn btnyes" (click)="approverejectReq()">Yes</button>
            </div>
        </div>
    </div>
</ng-template>