<div class="container-fluid" style="margin-top: 1%; padding-top:3%">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h2 class="page-title">{{moduleName | uppercase}}</h2>
        </div>

        <div class="col-md-6 mt-3" style="display:flex; justify-content: right;">
            <button class="btnlink" style="width: 35px; height:35px;border-radius: 50%;"  (click)="gotoFileUploadMother()" title="go back to upload page">
                <i class="fa fa-arrow-left" aria-hidden="true" ></i>
            </button>

            <!-- <button class="btnlink" style="width: 35px; height:35px;border-radius: 50%;"  (click)="gotoFileUploadMother()" title="go back to upload page">
                <i class="fa fa-arrow-left" aria-hidden="true" ></i>
            </button> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-0">
            
            <!-- <h2 class="page-title">Sales Target</h2> -->
            <br>
            <span style="color: red">{{upload_message}}</span>
            <br>
            <span>Last Uploaded At: {{last_uploaded_at}}</span>
            <br>
            <span>Last Uploaded By: {{last_uploaded_by}}</span>
            <br>
            

        </div>
        <div class="col-md-6 mt-0" style="display:flex; justify-content: right;">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- <br>
            <span style="color:#007bff">Upload Data For: <span style="color:rgba(0,0,0,.87)">{{month}}, {{uploadYear}}</span></span> -->
            
        </div>
        <!-- <div class="col-md-5 text-right">
            <button class="btnlink" (click)="reload()"  style="width: 40px !important; height:40px!important;padding:0; border-radius: 50%; z-index: 0;" >&nbsp;&nbsp;
                <i class="fa fa-refresh" style="margin-left: -10px;"></i>
            </button>
        </div> -->

        <div class="col-md-6" style="display:flex; justify-content: right;">
            <button type="button" *ngIf="addToExistingFlag" class="btnlink" (click)="file1.click()"  style="width: 150px !important">Add to Existing</button>
            <input accept=".xlsx, .csv"  type="file" #file1 id="fileUp" [multiple]="false" (change)="uploadFileAddToExisting($event)" [disabled]="!addToExistingFlag" style="display:none" />

            

            <button type="button" *ngIf="!addToExistingFlag" class="btnlink disabled"  style="width: 150px !important" >Add to Existing</button>

            &nbsp;&nbsp;
            <button type="button" class="btnlink" (click)="downloadTemplate()" style="width: 150px !important">Download
            Template</button>

            &nbsp;&nbsp;
            <button class="btnlink" (click)="reload()"  style="width: 40px !important; height: 40px!important;padding:0; border-radius: 50%; z-index: 0;" >&nbsp;&nbsp;
                <i class="fa fa-refresh" style="margin-left: -10px;"></i>
            </button>
        </div>


        
    </div>
    <div draggable="true" ngClass="{{dragAreaClass}}" [ngClass]="blockUpload == true? 'disablecursor':''">
        <div class="row">
            <div class="col-md-12 mt-3 text-center uploadFile">
                
                <a href="javascript:void(0)" (click)="file.click()">
                    Click to browse file
                </a>
                
                <br>
                <span style="color:rgb(0, 0, 0)">(accepts .xlsx, .csv files only) &nbsp;</span>
                <!-- href="{{file_path}}/template/template_Target.xlsx" -->
                <!-- <a (click)="downloadTemplate()" style="color:rgb(0, 38, 255)"  >
                    <i class="fa fa-download" aria-hidden="true"></i> Download Template
                </a> -->
                <!-- <br>
                <br> -->
                
                <ng-container *ngIf="error_list == true">
                    <p style="color:red">{{error_count}} error rows found...</p>
                    <a (click)="downloadError()" style="color:rgb(255, 0, 0); cursor: default;">
                        <i class="fa fa-download" aria-hidden="true"></i> Download Error Data
                    </a>                    
                    <p style="color:red">Please Refresh the Page and Upload the File again...</p>
                </ng-container>

                <input accept=".xlsx, .csv" type="file" #file id="fileUp" [multiple]="false" (change)="uploadFileNormal($event)"
                    [disabled]="blockUpload" style="display:none" />
                <!-- <div class="dragged-files-wrapper" *ngIf="draggedFiles">
                    <div class="file mt-2" *ngFor="let file of draggedFiles">
                        {{file.name}}
                    </div>
                </div> -->
            </div>
            <!-- <div> -->

            <!-- <a href="" (click)="downloadTemplate()" >
                    Download Template
                </a> -->
            <!-- </div> -->

        </div>
    </div>
    <div class="error" *ngIf="error">
        Only one file at time allow
    </div>
</div>
<div class="container-fluid">
    <div class="card customcardcolor mt-3">
        <div class="card-body">
            <table class="table table-hover table-responsive" style="max-height: 400px;">
                <thead>
                    <!-- <tr>
                    
                    <th>Employee E-Code</th>
                    <th>Employee Name</th>
                    <th>Designation</th>
                    <th>Branch Name</th>
                    <th>State</th>
                    <th>Month</th>
                    <th>Agency GPW</th>
                    <th>Non Agency GPW ( Banca + OEM)</th>
                    <th>Non Motor GPW ( CL + A& H)</th>
                    <th>Hygiene - Cheque bounce and Receivable </th>
                    <th>Scooter Mix</th>
                    <th>Retention</th>
                    <th>Recruitment</th>
                    <th>Activaiton</th>
                    <th>COR</th>
                </tr> -->
                    <tr>
                        <th *ngFor="let item of columnList; let i = index">{{item.displayName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableData; let i = index">
                        <ng-container *ngFor="let col of columnList">
                            <td>{{row[col.tableColumnName]}}</td>
                        </ng-container>
                        <!-- <td>{{val.emp_code}}</td>
                    <td>{{val.emp_name}}</td>
                    <td>{{val.designation}}</td>
                    <td>{{val.branch_name}}</td>
                    <td>{{val.state_name}}</td>
                    <td>{{val.month}}</td>
                    <td>{{val.agency_gpw}}</td>
                    <td>{{val.non_agency_gpw}}</td>
                    <td>{{val.non_motor_gpw}}</td>
                    <td>{{val.hygiene}}</td>
                    <td>{{val.scooter_mix}}</td>
                    <td>{{val.retention}}</td>
                    <td>{{val.recruitment}}</td>
                    <td>{{val.activition}}</td>
                    <td>{{val.cor}}</td> -->
                    </tr>
                </tbody>
            </table>

            <div class="mb-3" *ngIf="tableData.length > 0">
                <div class="row float-right">
                    <div class="col-md-12">
                        <button class="btn btn-sm pagigbtn mt-2 mb-2" (click)="goPrev()"
                            [disabled]="prevDisable">Previous</button>&nbsp;
                        <!-- Page {{page+1}} of {{totalPage}}&nbsp; -->
                        <button class="btn btn-sm pagigbtn mt-2 mb-2" (click)="goNext()"
                            [disabled]="nextDisable">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteModal>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</ng-template>

<div *ngIf="uploadingStatus" class="uploading" style="z-index: 1; width: 100%; height:100%; background-color: rgba(0, 0, 0, 0.589); position: fixed; top:0%; left: 0%">
    <div class="text-center" style="padding-top: 15%; display: flex; justify-content: center;">
        <span style="color: #ffffff; font-size: 18px; font-weight: 300;">Uploading...</span> &nbsp;&nbsp;
        <!-- <mat-spinner [diameter]="20"  color="basic"></mat-spinner>         -->
    </div>   
</div>



<!-- <div *ngIf="showError" style="z-index: 1; width: 100%; height:100%; background-color: rgba(0, 0, 0, 0); position: fixed; top:0%; left: 0%">
    <div class="container" style=" width: 30%; height: 30%; background-color: #ffffff; position: fixed; top:35%; left: 35%; border-radius: 2px; box-shadow: 1px 1px 10px 5px #88888895; padding:0px; overflow: hidden; align-items: center!important;">

        <div class="row" style=" justify-content: right; display: flex; background: transparent -webkit-linear-gradient(174deg, rgba(13, 53, 148, .898039), #35d3e1) 0 0 no-repeat padding-box; min-height: 50px; padding: 10px;align-items: center!important;">

            <button style="border-radius: 50%; border-style: none;text-align: center;background-color: #ffffff; width:20px; height: 20px;" (click)="closeErrorModal()">
                <span style="color: rgb(0, 65, 109); font-size: 14px; font-weight: 500; cursor: pointer;">X</span>
            </button>
            
        </div>
        

        <div class="row" style=" justify-content: center; display: flex;padding-top: 9%;">
            <span style="color: red; font-size: bold;font-size: 40px;">
                &#x26A0;
            </span>
            <br>
        </div>

        <div class="row" style=" justify-content: center; display: flex;padding-top: 5%;">
            <span style="color: rgb(0, 106, 177); font-size: 12px;">
                
                {{errorMessage}}
            </span>
        </div>
        <div  class="row" style=" justify-content: center; display: flex;padding-top: 1%;">
            <span *ngIf="errorDataDownload" style="color: rgb(0, 26, 43); font-size: 13px;">
                
                
                {{error_count}} error rows found
                
            </span>
            
            
        </div>
        <div  class="row" style=" justify-content: center; display: flex;padding-top: 1%;">
            <p>To upload data please refresh the Page</p>
        </div>
        
    </div>
</div> -->








<div *ngIf="showError" style="z-index: 1; width: 100%; height:100%; background-color: rgba(0, 0, 0, 0.295); position: fixed; top:0%; left: 0%; display: flex; justify-content: center;">

    <div class="centered-element" style="width: 35%; height: 35%; background-color: rgb(255, 255, 255);">

        <div class="row" style=" justify-content: right; display: flex; background: transparent -webkit-linear-gradient(174deg, rgba(13, 53, 148, .898039), #35d3e1) 0 0 no-repeat padding-box; min-height: 50px; padding: 10px;align-items: center!important;">

            <button style="border-radius: 50%; border-style: none;text-align: center;background-color: #ffffff; width:20px; height: 20px;" (click)="closeErrorModal()">
                <span style="color: rgb(0, 65, 109); font-size: 14px; font-weight: 500; cursor: pointer;">X</span>
            </button>
            
        </div>

        <div class="notificationbox" style="padding: 20px; padding-left: 50px; padding-right:50px">

            <div class="row" style=" justify-content: center; display: flex;padding-top: 7%;">
                <span style="color: red; font-size: bold;font-size: 40px;">
                    &#x26A0;
                </span>
                <br>
            </div>
    
            <div class="row" style=" justify-content: center; display: flex;padding-top: 5%;">
                <p style="color: rgb(0, 106, 177); font-size: 12px;">
                    <!-- Error Occurred !  -->
                    {{errorMessage}}
                </p>
            </div>
            <div  class="row" style=" justify-content: center; display: flex;padding-top: 1%;">
                <span *ngIf="errorDataDownload" style="color: rgb(0, 26, 43); font-size: 13px;">
                    
                    <!-- {{dataError.response.message}} -->
                    <!-- {{errorMessage}} -->
                    {{error_count}} error rows found
                    
                </span>
                
                <!-- <span style="color: rgb(0, 26, 43); font-size: 13px;">
                    seems like data is not in proper format
                </span> -->
            </div>
            <div  class="row" style=" justify-content: center; display: flex;padding-top: 1%;">
                <p>To upload data please refresh the Page</p>
            </div>

        </div>
        

        

    </div>
</div>
