*{
    font-size: 10pt;
}

/* .noUploadAcces{
    border-color: red;
    background-color: rgba(104, 104, 104, 0.089);
} */

.disabled{
    opacity: 0.5;
    cursor:not-allowed;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);}