<div style="margin-top: 2%; padding:2%">
    <div class="row" style="padding-left:1%">
        <h2 class="page-title">Banca Details</h2>
    </div>
    <div class="row" style="padding-left:2%">
        <label>Select Search Field</label>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-5" style="padding: 0px;">
                    <select class="form-control" [(ngModel)]="columnName">
                        <!-- <option value="">Select Search Field</option> -->
                        <option value="{{item.tableColumnName}}" *ngFor="let item of columnList">{{item.displayName}}
                        </option>
                    </select>
                </div>
                <div class="col-5" style="padding-right: 0px;">
                    <input type="search" class="form-control" placeholder="Enter Search Value..."
                        [(ngModel)]="searchValue" (keyup)="genericFilter()">
                </div>
                <div class="col-2">
                    <button class="btnlink" (click)="genericFilter()">Search</button>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-left: 0px;">
            <div class="row">
                <div class="col-4">
                    <button class="btnlink" (click)="downloadTemplate()">Template</button>
                </div>
                <div class="col-4">
                    <button class="btnlink" (click)="file.click()">Bulk Upload</button>
                    <input type="file" #file id="fileUp" [multiple]="false" (change)="uploadFile($event)"
                style="display:none" />
                </div>
                <div class="col-4">
                    <button class="btnlink" style="width: 105px" (click)="addBanca()">Add Banca</button>
                </div>
                .
            </div>

            <!-- <button class="btnlink" style="float: right; width: 110px; position: relative;" (click)="addEmployee()">Add Employee</button>
            <button class="btnlink" style="float: right;right: 2%;margin-right: 5px; width: 100px; position: relative;"
                (click)="file.click()">Bulk Upload</button>
            <input type="file" #file id="fileUp" [multiple]="false" (change)="uploadFile($event)"
                style="display:none" /> -->
        </div>
    </div>
    <div class="row" style="padding-top:2%; padding-left:1%; padding-right: 1%">
        <table class="table table-hover">
            <thead>
                <tr style="background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box;">
                    <th>Sr No.</th>
                    <th *ngFor="let item of columnList; let i = index">{{item.displayName}}</th>
                    <th style="width: 8%!important;">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!(bancaDataList.length > 0)">
                    <tr> &nbsp;&nbsp;No Details</tr>
                </ng-container>
                <ng-container *ngFor="let item of bancaDataList; let i = index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td *ngIf="isedit == false || editId != item.id">{{item.legacy_sol_id}}</td>
                        <td *ngIf="isedit == true && editId == item.id">
                            <input type="number" class="form-control" [(ngModel)]="editLegacySolId" value="editLegacySolId"></td>
                        <td *ngIf="isedit == false || editId != item.id">{{item.vertical}}</td>
                        <td *ngIf="isedit == true && editId == item.id">
                            <input type="text" class="form-control" [(ngModel)]="editVertical" value="editVertical"></td>
                        <td *ngIf="isedit == false || editId != item.id">{{item.branch_type}}</td>
                        <td *ngIf="isedit == true && editId == item.id">
                            <input type="text" class="form-control" [(ngModel)]="editBranchType" value="editBranchType"></td>
                        <td *ngIf="isedit == false || editId != item.id">{{item.branch_tagic_code}}</td>
                        <td *ngIf="isedit == true && editId == item.id">
                            <input type="number" class="form-control" [(ngModel)]="editBranchTagicCode" value="editBranchTagicCode"></td>
                        <td *ngIf="isedit == false || editId != item.id">{{item.branch_tagic}}</td>
                        <td *ngIf="isedit == true && editId == item.id">
                            <input type="text" class="form-control" [(ngModel)]="editBranchTagic" value="editBranchTagic"></td>
                        <td *ngIf="isedit == false || editId != item.id">{{item.state_name}}</td>
                        <td *ngIf="isedit == true && editId == item.id">
                            <select class="form-control" [(ngModel)]="editState" >
                                <option value="{{item.id}}" *ngFor="let item of stateList">{{item.state_name}}</option>
                            </select>

                        <td *ngIf="isedit == false || editId != item.id">{{item.zone_tagic}}</td>
                        <td *ngIf="isedit == true && editId == item.id">
                            <input type="text" class="form-control" [(ngModel)]="editZoneTagic" value="editZoneTagic"></td>
                        <td *ngIf="isedit == false || editId != item.id">{{item.location_type}}</td>
                        <td *ngIf="isedit == true && editId == item.id">
                            <input type="text" class="form-control" [(ngModel)]="editLocationType" value="editLocationType"></td>
                        <td class="only-show-on-hover">
                            <mat-icon [ngClass]="showAction == item.branchCode?'':'only-show-on-hover'"
                                style="cursor: pointer; color: #185EC4 !important;font-size:15px;"
                                *ngIf="isedit == false || editId != item.id" (click)="editBanca(item.id,item.legacy_sol_id,item.vertical,item.branch_type,item.branch_tagic_code,item.branch_tagic,item.state,item.zone_tagic,item.location_type)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </mat-icon>
                            <mat-icon style="font-size:20px;color: #185EC4;"
                                *ngIf="isedit == true && editId == item.id" (click)="changeValue(item.id)"><i class="fa fa-save" aria-hidden="true"></i>
                            </mat-icon>&nbsp;
                            <mat-icon style="cursor: pointer; font-size:20px;color: #185EC4;" *ngIf="isedit == true && editId == item.id" (click)="genericFilter()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </mat-icon>&nbsp;
                            <mat-icon [ngClass]="showAction == item.branchCode? '':'only-show-on-hover'"
                                style="cursor: pointer; color: #ff0202 !important;font-size:15px;"
                                (click)="openDeleteModal(deleteModal,item.id)"><i class="fa fa-trash"
                                aria-hidden="true"></i>
                            </mat-icon>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="col-3" *ngIf="bancaDataList.length > 0" style="float: right; position: relative; padding-bottom: 2%; text-align: center">
        <button class="btn btn-sm pagigbtn mt-2 mb-2" (click)="goPrev()" [disabled]="prevDisable">Previous</button>&nbsp;
        <button class="btn btn-sm pagigbtn mt-2 mb-2" (click)="goNext()" [disabled]="nextDisable">Next</button>
    </div>
</div>
<ng-template #deleteModal>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
            </div>
        </div>
    </div>
</ng-template>