<div class="container-fluid">
    <div style="margin-top: 2%; padding:2%">
        <div class="row" style="float: right; position: relative; padding: auto;">
            <mat-icon style="cursor: pointer; font-size:20px;color: #185EC4;" (click)="back()">keyboard_backspace</mat-icon>
        </div>
        <div class="row" style="padding-left:1%">
            <h2 class="page-title">Add Mapper Details</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <label>Channel New Name</label>
                <select class="form-control" [(ngModel)]="channelNew" (change)="getVerticals()">
                    <option value="{{chnl.id}}" *ngFor="let chnl of channelNewList">{{chnl.channelNewName}}</option>
                </select>
            </div>
            <div class="col-4">
                <label>Vertical Name</label>
                <select class="form-control" [(ngModel)]="verticalName">
                    <option value="{{vertical.id}}" *ngFor="let vertical of verticalList">{{vertical.verticalName}}</option>
                </select>
            </div>
            <div class="col-4">
                <label>Branch Name</label>
                <select class="form-control" [(ngModel)]="city" >
                    <option value="{{item.id}}" *ngFor="let item of branchList">{{item.city}}</option>
                </select>
            </div>
            <div class="col-4">
                <label>Partner Name Key</label>
                <input type="text" class="form-control" placeholder="Enter Partner Name Key" [(ngModel)]="partnerNameKey">
            </div>
            <div class="col-4">
                <label>Current SOL Id</label>
                <input type="number" class="form-control" placeholder="Enter Current SOL Id" [(ngModel)]="CurrentSolId">
            </div>
            <div class="col-4">
                <label>Legacy SOL Id</label>
                <input type="number" class="form-control" placeholder="Enter Legacy SOL Id" [(ngModel)]="legacySolId">
            </div>
            <div class="col-4">
                <label>Employee Level</label>
                <input type="number" class="form-control" placeholder="Enter Employee Level" [(ngModel)]="levelEmployee">
            </div>
            <div class="col-4">
                <label>Employee Designation</label>
                <select class="form-control" [(ngModel)]="designationId" >
                    <option value="{{item.id}}" *ngFor="let item of designationList">{{item.designationDescription}}</option>
                </select>
            </div>
            
            <div class="col-4">
                <label>Employee Code</label>
                <input type="number" class="form-control" placeholder="Enter Employee Code" [(ngModel)]="employeeCode">
            </div>
        </div>
        <div class="row" style="padding-top:2%">
            <div class="col">
                <button type="button" class="btnlink" (click)="saveData()">Save</button>
            </div>
        </div>
    </div>
</div>