<!-- <p>misc-details works!</p> -->
<!-- <p>misc-details works!</p> -->
<!-- <p>kpimap works!</p> -->
<div>
    <div  style="margin-top: 2%; padding:2%">
        <div class="row" style="padding-left:1%">
            <h2 class="page-title">Miscellaneous Details</h2>        
    
        </div>
        <div class="row">
            
            <div class="col-3">
                <label>Header
                </label>

                <select class="form-control" [(ngModel)]="header" (change)="getdetailsdata(header)">
                   
                    <option value="{{hd.id}}" *ngFor="let hd of headerDetails">{{hd.header_description}}</option>
                </select>
            </div>
            <div class="col-3">                    
                <label>Details Code
                </label>

                <input type="text"  class="form-control" placeholder="Enter details Code" [(ngModel)]="details_code">
            </div>
    
            <div class="col-3">
                <label>Details Description
                </label>

                <input type="text"  class="form-control" placeholder="Enter details Desc" [(ngModel)]="details_desc">
            </div>
            <div class="col-3">
                
                        <button type="button" class="btnlink" (click)="saveDetails()" style="    position: absolute;
                        bottom: 0;
                        left: 2px; 
                    ">Save</button>
                    <!-- <button type="button" class="btnlink" (click)="saveDetails()">Save</button> -->
            </div>
    
    
        </div>
       
        <div > 
            <div class="row" style="margin-top:2% !important; padding-left:1%; padding-right: 1%;" >
                    
                <table class="table fixed-head">
                    <thead>
                    <tr style="background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box;">
                        <th>Header</th>
                        <th>Details Code</th>

                        <th>Details Description</th>
                    
                        <th>Action</th>
                        
    
    
                    </tr>
                </thead>
                    
                    <tbody >
                        <ng-container *ngIf="!(detailDetails.length > 0)">
                            <span> &nbsp; No Details </span>
                        </ng-container>
                        <ng-container *ngFor="let detail of detailDetails">
                            <tr>


                                <td>{{detail.header_description}}</td>
                            
                                <td *ngIf="isedit == false || editId != detail.id">{{detail.details_code}}</td>
                                <td *ngIf="isedit == true && editId == detail.id">
                                    <input type="text"  class="form-control"  [(ngModel)]="edit_detail_code" value="edit_detail_code">
                                    <!-- {{edit_detail_code}} -->
                                </td>

                                <td *ngIf="isedit == false || editId != detail.id">{{detail.details_description}}</td>
                                <td *ngIf="isedit == true && editId == detail.id">
                                    <input type="text"  class="form-control"  [(ngModel)]="edit_detail_desc" value="edit_detail_desc">
                                </td>
                                

    
                                <td>
                                    <a class="mr-4" style="font-size:20px;color: #185EC4;" *ngIf="isedit == false || editId != detail.id" (click)="editValue(detail.details_code, detail.details_description, detail.id)" ><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="mr-4" style="font-size:20px;color: #185EC4;" *ngIf="isedit == true && editId == detail.id" (click)="changeValue(detail.id, 0)" ><i
                                            class="fa fa-save" aria-hidden="true"></i></a>
                                            
                                            <a style="font-size:20px;color: #FF6262;" (click)="openDeleteModal(deleteModal, detail.id)" ><i
                                        class="fa fa-trash" aria-hidden="true" ></i></a>
                                </td>
                                
                            </tr>
                            
                        </ng-container>
                        
                        
                    </tbody>
                
                </table>
                
            </div>
        </div>
        </div>

    <!-- <div class="row" style="height:100%; ">
        <div class="col-5" style="padding: 1%; ">
    
            <div class="row" style="padding-top:2%">
                <div class="col">
    
                    <span style="font-weight: bold; color:rgb(94, 93, 93)">Add Details</span>
                </div>
            </div>
            <div class="row " style="padding-top: 10px;">
                <div class="col">           
                    <label>Header Code
                    </label>
    
                    <select class="form-control" [(ngModel)]="header">
                       
                        <option value="{{hd.id}}" *ngFor="let hd of headerDetails">{{hd.header_description}}</option>
                    </select>
                </div>
    
            </div>
            <div class="row " style="padding-top: 10px;">
                <div class="col">           
                    <label>Details Code
                    </label>
    
                    <input type="text"  class="form-control" placeholder="Enter details Code" [(ngModel)]="details_code">
                </div>
    
            </div>
    
            <div class="row " style="padding-top: 10px;">
                
                <div class="col">           
                    <label>Details Description
                    </label>
    
                    <input type="text"  class="form-control" placeholder="Enter details Desc" [(ngModel)]="details_desc">
                </div>
    
                
    
            </div>
           
    
            
            <div class="row" style="padding-top:2%">
                <div class="col ">        
                    
                    <button type="button" class="btnlink" (click)="saveDetails()">Save</button>
                </div>
            </div>
             
        </div>

        <div class="col-7">

        </div>
    
        
    
    </div> -->
</div>

<ng-template #deleteModal>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="changeValue(deleteId, 1)">Delete</button>
            </div>
        </div>
    </div>
</ng-template>