*{
    font-size: 10pt;
}
label{
    color: #274a9f;
}

/* .fixed-head thead tr {
     
    position: sticky;
    top: 0; 
    
    z-index: 8;
 
    color: #4a4a4a;
  
  }
.fixed-head thead tr{
    background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box; 

}*/