<!-- <p>add-tasks works!</p> -->
<!-- <p>control-panel works!</p> -->

<notifier-container></notifier-container>
<div>
    <div  style="margin-top: 2%; padding:2%">
    <div class="row" style="padding-left:1%">
        <h2 class="page-title">Add Tasks</h2>        

    </div>
    <div class="row">

        <div class="col-2">
            <label for="">Channel Name</label>
            <select class="form-control" [(ngModel)]="channelNew" (change)="getAllTask(); getFileTypeChannelWise()" [disabled]="selectedDefaultChannelName != 'all' && userLevel != '4'">
                <option value="all">Select Channel</option>
                <option value="{{channel.id}}" *ngFor="let channel of channelNewList">{{channel.channelNewName}}
                </option>

            </select>
        </div>

        <div class="col-2">
            <label>Seq No.
            </label>

            <input type="number"  class="form-control" placeholder="Enter Seq No." [(ngModel)]="seqNo">
            
        </div>

        <div class="col-2">
            <label>Task Type
            </label>

            
            <select class="form-control" [(ngModel)]="taskType" (change)="getAllTask()">
                   <!-- <option value="">Select All</option> -->
                <option value="upload" >Upload</option>
                <option value="mapping" >Mapping</option>
                <option value="score generation" >Score Generation</option>


            </select>
        </div>
        <div class="col-2">
            <label>Task Details
            </label>

            
            <input type="text"  class="form-control" placeholder="Enter Task Details" [(ngModel)]="taskDetails">
        </div>
        <div class="col-2">
            <label>File Type
            </label>

            
            <select class="form-control" [(ngModel)]="fileTypeId" (change)="getAllTask()">
                <option value=0>Select File Type</option>
                   <option value="{{fileType.id}}" *ngFor="let fileType of fileTypeList">{{fileType.details_description}}</option>
                <!-- <option value="upload" >Upload</option>
                <option value="mapping" >Mapping</option>
                <option value="scoregeneration" >Score Generation</option> -->


            </select>
        </div>

        <div class="col-2">
            <label>User Type
            </label>

            
            <select class="form-control" [(ngModel)]="userType" (change)="getAllTask()">
                   <!-- <option value="">Select All</option> -->
                <option value="1" >Admin</option>
                <option value="2" >Normal User</option>
                <option value="3" >Checker</option>


            </select>
        </div>
        <div class="col-2">
            <label>Email Id 
            </label>
            <!-- <span style="font-size:7pt;">(ex: abc@gmail.com, ced@gmail.com)</span> -->

            
            <input type="text"  class="form-control" placeholder="Enter Email Id" [(ngModel)]="emailId">
        </div>

        
        
        <div class="col-2">
            <label>Last Day of Month
            </label>

            
            <input type="number" min="1" max="28"  class="form-control" placeholder="Enter Last Day" [(ngModel)]="dayWithin">
        </div>

        

        <div class="col-2">
            
                    <button type="button" class="btnlink" (click)="addTask()" style="position: absolute;
                    bottom: 0;
                    left: 2px; 
                ">Add</button>
        </div>

        <div class="col-2"></div>

        <div class="col-2"></div>
        <div class="col-2"></div>

        


    </div>
   
    <div > 
        <div class="row" style="padding-top:2%; padding-left:1%; padding-right: 1%;">
                
            <table class="table">
                <thead>
                <tr style="background: transparent -webkit-linear-gradient( 174deg, rgb(13 53 148 / 30%), #35d3e114) 0 0 no-repeat padding-box;">
                    <th>Seq No.</th>
                    <th>Task Type</th>
                    <th>File Type</th>

                    <th>Task Details</th>
                    <th>User Type</th>
                    <th>Email Id</th>
                    <th>Last Day </th>
                    <!-- <th>Status</th> -->
                    <!-- <th>Action</th> -->



                    


                </tr>
            </thead>
                <tbody>
                    
                     <ng-container *ngFor="let task of taskList">
                        <tr>

                            <td>{{task.seqNo}}</td>
                            <td>{{task.taskType| titlecase }}</td>
                            <td>{{task.fileType}}</td>
                            <td>{{task.taskDetails}}</td>

                            <td>
                                <span *ngIf="task.userTypeId == 1">Admin</span>
                                <span *ngIf="task.userTypeId == 2">Normal User</span>
                                <span *ngIf="task.userTypeId == 3">Checker</span>

                            </td>

                            <td>{{task.emailId}}</td>
                            <td>{{task.dayWithin}}</td>
                            <!-- <td>
                                <span *ngIf="task.taskStatus == 1" style="color:green">Done</span>
                                <span *ngIf="task.taskStatus == 0">Pending</span>

                            </td> -->

                            

                            <!-- <td class="text-center">
                                <a style="font-size:20px;color: #FF6262;" (click)="openDeleteModal(deleteModal, task.taskId)"><i class="fa fa-trash" aria-hidden="true" ></i></a>
                            </td> -->
                            
                        </tr>
                        
                    </ng-container> 
                    
                    
                </tbody>
            </table>
        </div>
    </div>
    </div>

   
</div>


<ng-template #deleteModal>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteTask()">Delete</button>
            </div>
        </div>
    </div>
</ng-template>





