*{
    font-size:10pt;
}

label {
    color :#274a9f;
}

.firstrow{
    background-color: #fff8f0;
}
.secondrow{
    background-color: rgb(248 255 212);
}
.thirdrow{
    background-color: rgb(238 246 255);
}

/* ng-multiselect-dropdown {
    
} */
.multi {
    background-color: #ffffff!important;
}

#download{
    visibility: hidden;
}

#detailrow:hover #download{
    visibility: visible;
}

/* .multiDropQ1{
    border-top: #999999;
}
.notQuarter{

} */
/* .scoringBtn{
    width: 60px;
} */