<!-- <p>generate-score works!</p> -->
<div class="row">

    <div class="col" style="padding: 3%; margin-left: 0px;">
        
        <div class="row" style="padding-top:1%">
            <div class="col" style="padding:0px !important;">
                <h2 class="page-title">Generate KPI Score</h2>  
                <!-- <div class="row">

                        <button class="btnlink" [disabled]="sdmMapping"  (click)="mapEmployeeCodeSDM()" [ngClass]="sdmMapping == true? 'disabled':''">
                            
                            <span *ngIf="!sdmMapping">Map SDM for Employee</span>
                            <span *ngIf="sdmMapping">Mapping SDM for Employee...</span>

    
                            </button>
                            &nbsp;&nbsp;
                    

                        
                        <button class="btnlink" [disabled]="cbMapping" [ngClass]="cbMapping == true? 'disabled':''" (click)="mapEmployeeCodeCB()">
                        
                            <span *ngIf="!cbMapping">Map Cheque Bounce for Employee</span>
                            <span *ngIf="cbMapping">Mapping Cheque Bounce for Employee...</span>

    
                            </button>
                            &nbsp;&nbsp;
                            <button class="btnlink"  [disabled]="rpMapping" [ngClass]="rpMapping == true? 'disabled':''" (click)="mapEmployeeCodeRP()">
    
                                <span *ngIf="!rpMapping">Map Receivable Pending for Employee</span>
                                <span *ngIf="rpMapping">Mapping Receivable Pending for Employee...</span>

        
                                </button>
                                &nbsp;&nbsp;
                    
                </div> -->
                <br>      
                <div class="row">
                    <div class="col-3">                    
                        <label>Channel Name
                        </label>
        
                        <select class="form-control" [(ngModel)]="channelNew" (change)="getEmployeeDetails()"  [disabled]="selectedDefaultChannelName != 'all' && userLevel != '4'" >
                            

                            <option value="{{channel.id}}" *ngFor="let channel of channelNewList">{{channel.channelNewName}}
                            </option>
        
                        </select>


                        
                    </div>


                    <div class="col-3">                    
                        <label>Period
                        </label>
        
                        <select class="form-control" [(ngModel)]="periodType" >
                            <option value="">Select Period</option>
                            <option value="{{period.id}}" *ngFor="let period of periodTypeList">{{period.name}}
        
                        </select>
                    </div>
            
                    <div class="col-3">

                        <label>
                            <span  *ngIf="periodType=='month'">Year</span>
                            <span  *ngIf="periodType!='month'"> Financial Year</span>
                        </label>
        
                        <!-- this will come for Month only -->
                        <select  *ngIf="periodType=='month'" class="form-control" [(ngModel)]="year" >
                           
                            <option value="all">Select All</option>
                            <option value="{{year}}" *ngFor="let year of yearList">{{year}}</option>
                        </select>

                        <!-- this will come for YTD and Quarter and Half Yearly -->
                        <select  *ngIf="periodType!='month'" class="form-control" [(ngModel)]="financialYear" >
   
                            <option value="">Select</option>
                            <option value="{{fyear}}" *ngFor="let fyear of fYList">{{fyear}}</option>
                        </select>


                        <!-- <label>Year
                        </label>
        
                        <select class="form-control" [(ngModel)]="year" >
                            <option value="{{year}}" *ngFor="let year of yearList">{{year}}</option>
                        </select> -->
                    </div>
                    <div class="col-3">                    
                        <label>
                            <span *ngIf="periodType=='ytd'">Up to Month</span>
                            <span *ngIf="periodType=='quarter'">Quarter</span>
                            <span *ngIf="periodType=='month'">Month</span>
                            <span *ngIf="periodType=='half'">Half Yearly Period</span>
                        </label>
        
                        <select class="form-control" [(ngModel)]="month"  *ngIf="periodType!='quarter' && periodType != 'half'" >
                            <!-- <option value="all">Select All</option> -->
                           
                            <option value="{{month.id}}" *ngFor="let month of monthList">{{month.name}}</option>
                        </select>


                        <select class="form-control" [(ngModel)]="period"  *ngIf="periodType =='quarter'"  >
                            <option value="">Select Period</option>
                            <option value="{{period.id}}" *ngFor="let period of periodList">{{period.name}}
                            </option>
        
                        </select> 


                        <select class="form-control" [(ngModel)]="halfYearlyPeriod"  *ngIf="periodType =='half'"  >
                            <option value="">Select Period</option>
                            <option value="{{period.id}}" *ngFor="let period of halfYearlyPeriodList">{{period.name}}
                            </option>
        
                        </select> 
                    </div>

                    <div class="col-3">                    
                        <label>Employee Name
                        </label>
        
                        <select class="form-control" [(ngModel)]="employee_code" >
                            <option value="all">Select All</option>
                           
                            <option value="{{employee.empCode}}" *ngFor="let employee of employeeList">{{employee.empName}} ({{employee.empCode}})</option>
                        </select>

                    </div>

                    <!-- <div class="col-3">                    
                        <label>Employee Name
                        </label>

                        <div class="multi" title="Channel Selection Required to get Employees">
                            <ng-multiselect-dropdown [disabled]="userLevel == 3" [(ngModel)]="employee_code"
                                [settings]="dropdownSettings_employee" [data]="employeeList"
                                title="Channel Selection Required to get Employees">
                            </ng-multiselect-dropdown>
                        </div>

                    </div> -->






                    <div class="col-12">
                        <div *ngIf="generate_score_status == 'running'" class="text-right" style="padding-top:10px">

                            <button  class="btnlink" type="button" disabled>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                
                                Same process already running...
                            </button>
                        </div>


                        <div *ngIf="generate_score_status != 'running'" class="text-right" style="padding-top:10px">
                            <button class="btnlink" [disabled]="loading" style="width:150px; margin-top: 0%;" (click)="checkIfMapped(checkifmapped)" [ngClass]="loading == true? 'disabled':''">
                                <span *ngIf="loading">Generating...</span>
                                <span *ngIf="!loading">Generate Score</span>
                            </button>
                        </div>
                    </div>
                    
                </div>

                <div class="row mt-2">
                    <div class="col-3" >
                        <!-- <button class="btnlink" [disabled]="loading" style="width:150px;position:absolute; bottom:0;" (click)="checkIfMapped(checkifmapped)" [ngClass]="loading == true? 'disabled':''"> -->
                        <!-- <button class="btnlink" [disabled]="loading" style="width:150px; margin-top: 5%;" (click)="checkIfMapped(checkifmapped)" [ngClass]="loading == true? 'disabled':''">

                            <span *ngIf="loading">Generating...</span>
                            <span *ngIf="!loading">Generate Score</span>
                           

                        </button> -->
                    </div>

                </div>
                
                <!-- <span style="font-weight: bold; color:rgb(129, 129, 129)">Mapped KPI for Year 2022-2023 :</span> -->
                <!-- <div style="position: absolute;
                bottom: 0;
                right: 2px; ">

                    <button type="button" class="btnlink"  (click)="downloadKpi(0)"
                        >Download</button>
                        &nbsp;&nbsp;
                    <button type="button" class="btnlink"  
                    (click)="downloadKpi(1)">Send To Mail</button>
                </div> -->

                
                

                <div *ngIf="generate_score_status =='last_processed'"
                    class="row mt-2 position-relative"
                    style="margin-top: 40px!important; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding:10px; border-radius:5px; background: transparent -webkit-linear-gradient(
            174deg, rgb(154, 184, 255), #d3fbff) 0 0 no-repeat padding-box;">

                    <!-- Close button -->
                    <button class="close-btn" (click)="this.generate_score_status=''">
                        ✕
                    </button>

                    <p style="font-size: 14px;">
                        <span style="color: red;">***</span>
                        Score Generation is already done for current selected options. It was last generated by 
                        <b>{{last_generationDetails.name}}</b> <br>
                        Last Score Generation Date & Time : 
                        <b>{{last_generationDetails.ended_at}}</b>
                    </p>
                </div>

                <div *ngIf="generate_score_status =='last_processed'" class="row mt-2 ">
                    <!-- <p style="font-size: 14px;">
                        <span style="color: red;">***</span>
                        Score Generation is already done for current selected options. It was last generated by <b>{{last_generationDetails.name}}</b> <br>
                        Last Score Generation Date & Time : <b>{{last_generationDetails.ended_at}}</b>
                    </p> -->
                    <div  style="padding-top:10px">
                        <button class="btnlink" [disabled]="loading_regenerate" style="width:150px; margin-top: 0%;" (click)="regenerateKpiScore()"  [ngClass]="loading_regenerate == true? 'disabled':''">
                            <span *ngIf="loading_regenerate">Regenerating...</span>
                            <span *ngIf="!loading_regenerate">Regenerate Score</span>
                        </button>
                    </div>

                </div>
                
            </div>
        </div>
       

    </div>
</div>

<ng-template #checkifmapped>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
         
            <div class="modal-body">
               <span style="color:black">Have You Mapped Employee Code With all type of Transaction ?</span>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
                <!-- <button type="button" class="btn btnyes" (click)="generateKpiScore()">Yes</button> -->
                <button type="button" class="btn btnyes" (click)="checkIfScoreIsPresent();">Yes</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #checkifconfigPresent>
    <div class="modal-confirm">
        <div class="modal-content modalcolor">
         
            <div class="modal-body">
               <span style="color:black">Configuration Already Present. Want to generate again?</span>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
                <button type="button" class="btn btnyes" (click)="generateKpiScore()">Yes</button>
                <!-- <button type="button" class="btn btnyes" (click)="checkIfScoreIsPresent()">Yes</button> -->
            </div>
        </div>
    </div>
</ng-template>






<div class="modal-confirm" *ngIf="isModalOpen">
    <div class="modal-content modalcolor">
        <div class="modal-body">
            <span style="color: black">This Process will follow KPI Configurator Logics. Please confirm all the configurations are set properly.</span>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" (click)="isModalOpen=false">No</button>
            <button type="button" class="btn btnyes" (click)="generateKpiScore_new_reGen()">Yes</button>
        </div>
    </div>
</div>


<!-- <div class="modal-confirm" *ngIf="isModalOpen">
    <div class="modal-content modalcolor">
        <div class="modal-body">
            <span style="color: black">This Process will follow KPI Configurator Logics. Please confirm all the configurations are set properly.</span>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" (click)="isModalOpen=false">No</button>
            <button type="button" class="btn btnyes" (click)="generateKpiScore_new_reGen()">Yes</button>
        </div>
    </div>
</div> -->
