<!-- <p>mapped-data-download works!</p> -->
<!-- <p>usermanual-download works!</p> -->
<notifier-container></notifier-container>
<div style="padding:3%; margin-top: 1%; ">

    <div class="row">
        <h2 class="page-title">Mapped Data Download</h2>

    </div>


    <div class="row" style="height:90%;">
        
        <div class="col-12" style="padding: 1%; ">

            <div class="row">

                <div class="col-3">
                    <label>KPI Year</label>
                </div>

                <div class="col-4">
                    <select class="form-control" [(ngModel)]="year">
                        <option value="">Select Year</option>
                        <option value="{{yr}}" *ngFor="let yr of YearList">{{yr}}</option>
                    </select>
                </div>
                <div class="col-5"></div>



                <div class="col-3">
                    <label>KPI Month</label>
                </div>

                <div class="col-4">
                    <select class="form-control" [(ngModel)]="month">
                        <option value="">Select Month</option>
                        <option value="{{mon.id}}" *ngFor="let mon of monthList">{{mon.name}}</option>
                    </select>
                </div>
                
                <div class="col-5"></div>

            </div>

            <div class="row ">

                <div class="col-3">
                    <label>KPI Channel</label>
                </div>
                <div class="col-4">
                    <select class="form-control" [(ngModel)]="channelNew" (change)="get_downloadMappedData_fileType()"  [disabled]="selectedDefaultChannelName != 'all' && userLevel != '4'">
                        <option value="all">Select Channel</option>
                        <option value="{{channel.id}}" *ngFor="let channel of channelNewList">{{channel.channelNewName}}
                        </option>
                    </select>
                </div>
                <div class="col-5"></div>
            </div>

            


            <div class="row">
                <div class="col-3">
                    <label>Mapped File Type</label>
                </div>
                <div class="col-4">
                    <select name="" id="" class="form-control" [(ngModel)]="mapped_module"  (change)="get_downloadMappedData_verticalValue()">
                        <option value="">Select File Type</option>                    
                    <option *ngFor="let type of fileTypeList" value="{{type.moduleId}}">{{type.fileTypeName}}</option>
                    </select>
                </div>
                <div class="col-5"></div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label>Vertical Value</label>
                </div>
                <div class="col-4">
                    <select name="" id="" class="form-control" [(ngModel)]="verticalValue" [disabled]="true" *ngIf="vertical_value_list.length==0" style="opacity: .5;">
                        <option value="all">All Vertical</option>                                          
                        <!-- <option *ngFor="let value of vertical_value_list" value="{{value}}">{{value}}</option> -->
                    </select>

                    <select name="" id="" class="form-control" [(ngModel)]="verticalValue" [disabled]="false"  *ngIf="vertical_value_list.length!=0">
                        <option value="all">Select All</option>                    
                        <option *ngFor="let value of vertical_value_list" value="{{value}}">{{value}}</option>
                    </select>
                </div>
                <div class="col-5">
                    <!-- <label   *ngIf="vertical_value_list.length!=0" style="color:rgb(77, 77, 77)"><span style="color: red;">**</span> Selection of no vertical will be regarded as All vertical.</label> -->
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="col-2"></div>

                <div class="col-5" style="display: flex; justify-content: right;">

                    <button type="button" class="btnlink"  (click)="getMappedData()"> 
                        <i class="fa fa-download" aria-hidden="true" style="color: #ffffff;"></i>
                        <!-- Download -->
                    </button>
                </div>
                <div class="col-5"></div>
            </div>        

        </div>    

    </div>
</div>






<div *ngIf="noPageCreated" style="z-index: 1; width: 100%; height:100%; background-color: rgba(0, 0, 0, 0); position: fixed; top:0%; left: 0%">
    <div class="container" style=" width: 30%; height: 30%; background-color: #ffffff; position: fixed; top:35%; left: 35%; border-radius: 2px; box-shadow: 1px 1px 10px 5px #88888895; padding:0px; overflow: hidden; align-items: center!important;">

        <div class="row" style=" justify-content: right; display: flex; background: transparent -webkit-linear-gradient(174deg, rgba(13, 53, 148, .898039), #35d3e1) 0 0 no-repeat padding-box; min-height: 50px; padding: 10px;align-items: center!important;">
            <button style="border-radius: 50%; border-style: none;text-align: center;background-color: #ffffff; width:20px; height: 20px;" (click)="noPageCreated=!noPageCreated">
                <span style="color: rgb(0, 65, 109); font-size: 14px; font-weight: 500; cursor: pointer;">X</span>
            </button>
            
        </div>
        

        <div class="row" style=" justify-content: center; display: flex;padding-top: 5%;">
            <span style="color: rgb(255, 187, 0); font-size: bold;font-size: 40px;">
                
                &#9785;
            </span>
            <br>
        </div>

        <div class="row" style=" justify-content: center; display: flex;padding-top: 5%;">
            <span style="color: rgb(0, 106, 177); font-size: 16px;">
                Sorry!
            </span>
        </div>
        <div  class="row text-center" style=" justify-content: center; display: flex;padding-top: 1%;">
            <span style="color: rgb(0, 26, 43); font-size: 13px;">
                No Upload Page is created for this Channel
            </span>
        </div>
    </div>
</div>

