.cred{
    background-color: #f0f0f0;
    color: #264a9f;
    padding: 10px;
    width: 100%;
    height: 35px;
}
.cred h5{
    text-align: right;
    /* position: absolute; */
    /* right: 2px; */

    font-size: 13px;
    /* margin-right: 1%; */
}
.hr{
    width: 100%;
    height: 1px;
    background-color: #264a9f;
}

.example-spacer {
    flex: 1 1 auto;
  }