<!-- <p>kpimap works!</p> -->
<notifier-container></notifier-container>
<div style="padding: 1%">
    <div class="row" style="padding-left:0%; padding-top:2%">
        <div class="col-6">
        <h2 class="page-title">Edit KPI Map</h2>

    </div>
    </div>
    <div class="row" style="height:80%;">
        <div class="col-12" style="padding: 0%;">

            <!-- <div class="row">
                <div class="col">

                    <span style="font-weight: bold; color:rgb(94, 93, 93)">KPI Mapping for Year 2022-2023 :</span>
                </div>
            </div> -->
            <div class="row " style="padding-top: 1%">
                <!-- <div class="col-4">Designation</div> -->
                <div class="col-4">
                    <label class="required">Channel New</label>
                    <select class="form-control" [(ngModel)]="channelNew" (change)="getVerticals();showRoleTypeFlag();" [disabled]="true">

                        <option value="{{chnl.id}}" *ngFor="let chnl of channelNewList">{{chnl.channelNewName}}
                        </option>
                    </select>
                </div>

                <div class="col-4">
                    <label class="required">Vertical Name</label>

                    <select class="form-control" [(ngModel)]="verticalName" [disabled]="true">

                        <option value="{{vertical.id}}" *ngFor="let vertical of verticalList">{{vertical.verticalName}}
                        </option>
                    </select>
                </div>

                <div class="col-4" *ngIf="showBand_status">
                    <label class="required">Band</label>
                    <select class="form-control" [(ngModel)]="band" >
                        <!-- <option value="{{band.id}}" *ngFor="let band of bandList">{{band.details_description}}</option> -->
                        <!-- <option value="{{`${band.id}/${band.details_description}`}}" *ngFor="let band of bandList">{{band.details_description}}</option> -->
                        <option value="">Select Band</option>
                        
                        <option *ngFor="let band of bandList" [value]="band.id + '/' + band.details_description">
                            {{ band.details_description }}
                          </option>
                          
                    </select>
                </div>

                <div class="col-4">
                    <label class="required">Role</label>

                    <select class="form-control" [(ngModel)]="role" (change)="getallowedPercentage(role)" (change)="showExtraBoxes()">

                        <option value="{{role.id}}" *ngFor="let role of roleList">{{role.details_description}}</option>
                    </select>
                </div>

            </div>

            <div class="row " style="padding-top: 10px;">
                <div class="col-4" *ngIf="roleTypeFlag">
                    <label>Role Type (VP/MS/Both)</label>

                    <select class="form-control" [(ngModel)]="roleType">
                        <option value = "null">Select Role Type</option>
                        <option value="VP">VP</option>
                        <option value="MS">MS</option>
                        <option value="Both">Both</option>


                    </select>
                </div>




                <div class="col-4">
                    <label class="required">KPI Month</label>

                    <select class="form-control" [(ngModel)]="kpi_month" (change)="getAllChannel()">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>

                        <!-- <option value="{{channel.id}}" *ngFor="let channel of channelList" >{{channel.details_description}}</option> -->

                    </select>
                </div>

                <div class="col-4">
                    <label class="required">KPI Year</label>

                    <select class="form-control" [(ngModel)]="kpi_year" (change)="getAllChannel()">
                        <!-- <option value="2023">2023</option> -->
                        <option *ngFor="let yr of fYearList">{{yr}}</option>

                    </select>
                </div>

            </div>

            <div class="row " style="padding-top: 10px;">

                <div class="col-4">
                    <label class="required">KPI Parameter Channel</label>

                    <select class="form-control" [(ngModel)]="channel"
                        [disabled]="selectedDefaultChannelName != 'all' && userLevel != '4'" (change)="getAllRuleData();showExtraBoxes();clearRuleVarVal()" >
                        <option value="{{channel.id}}" *ngFor="let channel of channelList">
                            {{channel.details_description}}</option>

                    </select>
                </div>

                <!-- <div class="col-4">
                    <label>KPI Parameter Sub-Channel</label>

                    <select class="form-control" [(ngModel)]="subchannel" [disabled]="true">
                        <option value=""></option>
                        <option value="1">channel B</option>
                        <option value="2">channel C</option>
                    </select>
                </div> -->

            </div>

            <div class="row " style="padding-top: 10px;">

                <div class="col-4">
                    <label class="required">Base Parameter</label>
                    <select name="" id="" class="form-control" [(ngModel)]="baseParam" (change)="clearRuleVarVal()">
                        <!-- <option value="">Select Base Parameter</option> -->
                        <!-- <ng-container *ngFor="let rule of ruleList">
                            <ng-container *ngIf="rule.ruleBaseParam == ruleBaseParam">
                                <option value="{{rule.ruleBaseParam}}" >{{rule.ruleName}}</option>
                            </ng-container>
                        </ng-container> -->
                        <option value="{{rule.ruleBaseParam}}" *ngFor="let rule of ruleList">{{rule.ruleName}}</option>
                    </select>
                </div>


                <div class="col-4">

                    <label class="required">Minimum Val</label>

                    <input type="number" min="0" max="100" class="form-control" placeholder="Enter minimum percentage"
                        [(ngModel)]="min_per">
                </div>
                <div class="col-4">

                    <label class="required">Maximum Val</label>

                    <input type="number" min="0" max="100" class="form-control" placeholder="Enter maximum percentage"
                        [(ngModel)]="max_per">
                </div>


                <ng-container *ngFor="let rule of ruleList">
                    <ng-container *ngIf="rule.ruleBaseParam == baseParam">
                        <ng-container *ngFor="let rulevar of rule.ruleVariable">

                            <div class="col-4">
                                <label>{{rulevar.param}}</label>

                                <input type="number" min="0" max="100" class="form-control" [(ngModel)]="rulevar.value"
                                    (change)="assignRuleVarVal(rulevar.param, rulevar.value)">

                            </div>
                        </ng-container>

                    </ng-container>
                </ng-container>

            </div>

            <!-- aaa{{ruleVarValues}} -->

            <div class="row" style="padding-top: 10px;">


                <div class="col-4">
                    <!-- <label>Maximum Cap(%) 
                    </label> -->

                    <label class="required">Score Under Range</label>

                    <select name="" id="" class="form-control" [(ngModel)]="scoreUnder">
                        <ng-container *ngFor="let rule of ruleList">
                            <!-- <ng-container *ngIf="rule.ruleBaseParam == baseParam"> -->
                                <option value="{{param}}" *ngFor="let param of rule.scoreVariable">{{param}}</option>

                                <!-- <option value="score">score</option> -->
                            <!-- </ng-container> -->
                        </ng-container>
                    </select>
                </div>

                <div class="col-4">
                    <!-- <label>Maximum Cap(%) 
                    </label> -->

                    <label class="required">Score Within Range</label>

                    <select name="" id="" class="form-control" [(ngModel)]="scoreWithin">
                        <ng-container *ngFor="let rule of ruleList">
                            <!-- <ng-container *ngIf="rule.ruleBaseParam == baseParam"> -->
                                <option value="{{param}}" *ngFor="let param of rule.scoreVariable">{{param}}</option>
                                <!-- <option value="score">score</option> -->


                            <!-- </ng-container> -->
                        </ng-container>
                    </select>
                </div>

                <div class="col-4">
                    <!-- <label>Maximum Cap(%) 
                    </label> -->

                    <label class="required">Score Above Range</label>

                    <select name="" id="" class="form-control" [(ngModel)]="scoreAbove">
                        <ng-container *ngFor="let rule of ruleList">
                            <!-- <ng-container *ngIf="rule.ruleBaseParam == baseParam"> -->

                                <option value="{{param}}" *ngFor="let param of rule.scoreVariable">{{param}}</option>

                                <!-- <option value="score">score</option> -->

                                
                            <!-- </ng-container> -->
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-4">

                    <label>Score Under Range (Number)</label>

                    <input type="number" [(ngModel)]="scoreUnderNumber" class="form-control"
                        [disabled]="scoreUnder != 'score' && baseParam != ''">
                </div>

                <div class="col-4">
                    <label>Score Within Range (Number)</label>

                    <input type="number" [(ngModel)]="scoreWithinNumber" class="form-control"
                        [disabled]="scoreWithin != 'score' && baseParam != ''">
                </div>

                <div class="col-4">
                    <label>Score Above Range (Number)</label>

                    <input type="number" [(ngModel)]="scoreAboveNumber" class="form-control"
                        [disabled]="scoreAbove != 'score' && baseParam != ''">
                </div>
            </div>




            <div class="row " style="padding-top: 10px;">
                <div class="col-12">
                    <input type="checkbox" [(ngModel)]="stateBifurcation"> &nbsp; <label>Apply weightage</label>
                    <!-- <input type="checkbox" [(ngModel)]="stateBifurcation"> &nbsp; <label>Apply State Bifurcation</label> -->
                </div>

                <!-- <div class="col-4" *ngIf="!stateBifurcation">
                    <label>Weightage(%)
                       
                    </label>

                    <input type="number" min="0" max="100" class="form-control" placeholder="Enter percentage"
                        [(ngModel)]="weightage" (keyup)="setWeightage()">
                </div> -->



                <div class="col-4">
                    <input type="number" min="0" max="100" class="form-control" placeholder="Enter percentage"
                        [(ngModel)]="pref_per" [disabled]="!stateBifurcation">
                </div>
                <!-- <div class="col-4"  >
                    <label>Preferred(%)
                    </label>

                    <input type="number" min="0" max="100" class="form-control" placeholder="Enter percentage"
                        [(ngModel)]="pref_per" [disabled]="!stateBifurcation">
                </div>
                <div class="col-4">
                    <label>Moderate(%)
                    </label>

                    <input type="number" min="0" max="100" class="form-control" placeholder="Enter percentage"
                        [(ngModel)]="mod_per" [disabled]="!stateBifurcation">
                </div>

                <div class="col-4">
                    <label>Non Preferred(%)
                    </label>

                    <input type="number" min="0" max="100" class="form-control" placeholder="Enter percentage"
                        [(ngModel)]="nonpref_per" [disabled]="!stateBifurcation">
                </div> -->
                <div class="col-4"></div>
                <div class="col-4"></div>
                <br><br>

                <div class="col-4" *ngIf="extraBoxFlag">
                    <label>Extra Partner Name</label>
                    <select class="form-control"  name="" id=""  (change)="getPartner2()" [(ngModel)]="partner2ID">
                        <option value="">Select Partner Name</option>
                        <ng-container  *ngFor="let ms of marketShareDropDown">
                            <option  value="{{ms.id}}" >{{ms.name}}</option>
                        </ng-container>
                        
                    </select>



                    <!-- <label class="required">Channel New</label>
                    <select class="form-control" [(ngModel)]="channelNew" (change)="getVerticals()"
                        [disabled]="selectedDefaultChannelName != 'all' && userLevel != '4'">
                        <option value="">Select Channel New</option>

                        <option value="{{chnl.id}}" *ngFor="let chnl of channelNewList">{{chnl.channelNewName}}</option>
                    </select> -->
                </div>
                <div class="col-4" *ngIf="extraBoxFlag">
                    <label >Partner 1: &nbsp;</label>
                    <label for="">{{partner1name}}</label>
                    <input type="number" class="form-control" placeholder="Enter weightage" [(ngModel)]="weightage_partner1" (change)="checkWeightageMatch()" (blur)="checkWeightageMatch()">
                </div>
                <div class="col-4" *ngIf="extraBoxFlag">
                    <label>Partner 2: &nbsp;</label>
                    <label for="">{{partner2name}} weightage</label>
                    <input type="number" class="form-control" placeholder="Enter weightage" [(ngModel)]="weightage_partner2" (change)="checkWeightageMatch()" (blur)="checkWeightageMatch()">
                </div>
            </div>


            <div class="row" style="padding-top:2%; padding-left: 1%">
                <button type="button" class="btnlink" (click)="back()">Cancel</button>
                &nbsp;
                &nbsp;
                <button type="button" class="btnlink" (click)="editDeleteKpi()">Save</button>

            </div>

        </div>

    </div>
</div>


<ng-template #ruleVariableConfigure>

    <div class="modal-confirm">
        <div class="modal-content modalcolor">

            <div class="modal-body">

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
                <button type="button" class="btn btnyes">Yes</button>
            </div>
        </div>
    </div>

</ng-template>