<div class="container-fluid">
    <div style="margin-top: 2%; padding:2%">
        <div class="row" style="float: right; position: relative; padding: auto;">
            <mat-icon style="cursor: pointer; font-size:20px;color: #185EC4;" (click)="back()">keyboard_backspace</mat-icon>
        </div>
        <div class="row" style="padding-left:1%">
            <h2 class="page-title">Add Banca Details</h2>
        </div>
        <div class="row">
            <div class="col-3">
                <label>Legacy Sol ID</label>
                <input type="number" class="form-control" placeholder="Enter Employee ID" [(ngModel)]="legacy_sol_id">
            </div>
            <div class="col-3">
                <label>Vertical</label>
                <input type="text" class="form-control" placeholder="Enter Vertical" [(ngModel)]="vertical">
            </div>
            <div class="col-3">
                <label>Branch Type</label>
                <input type="text" class="form-control" placeholder="Enter Branch Type" [(ngModel)]="branch_type">
            </div>
            <div class="col-3">
                <label>Branch Tagic Code</label>
                <input type="text" class="form-control" placeholder="Enter Branch Tagic Code" [(ngModel)]="branch_tagic_code">
            </div>
            <div class="col-3">
                <label>Branch Tagic</label>
                <input type="text" class="form-control" placeholder="Enter Branch Tagic" [(ngModel)]="branch_tagic">
            </div>
            <div class="col-3">
                <label>State</label>
                <select class="form-control" [(ngModel)]="state_name" >
                    <option value="{{item.id}}" *ngFor="let item of stateList">{{item.state_name}}</option>
                </select>
            </div>
            <div class="col-3">
                <label>Zone Tagic</label>
                <input type="text" class="form-control" placeholder="Enter Zone Tagic" [(ngModel)]="zone_tagic">
            </div>
            <div class="col-3">
                <label>Location Type</label>
                <input type="text" class="form-control" placeholder="Enter Location Type" [(ngModel)]="location_type">
            </div>
        </div>
        <div class="row" style="padding-top:2%">
            <div class="col">
                <button type="button" class="btnlink" (click)="saveData()">Save</button>
            </div>
        </div>
    </div>
</div>