<div class="container-fluid" style="margin-top: 1%; padding: 0">
    <div class="col-md-12" style="padding-top:3%;">
        <div class="row">
            <div class="col-md-2">
                <h2 class="page-title">User-Menu map</h2>
            </div>
            <div class="col-md-4 align-self-start">
                <input type="search" id="user" class="form-control" placeholder="search user ..." aria-label="Search"
                    style="border-radius: 50px;" [(ngModel)]="searchUserReport" (keyup.enter)="getUserMenu()" />
            </div>
            <div class="col-md-4">
                <button class="btnlink" style="float: left;width: 100px;margin-bottom: 10px;"
                    (click)="getUserMenu()">Search</button>
            </div>
            <div class="col-md-2">
                <button class="btnlink" style="float: right;width: 150px;" (click)="addopenModal(addModal)">Add User
                    Menu</button>
            </div>
        </div>
        <!-- <hr> -->
    </div>
    <div class="row card-body justify-content-md-center">
        <div class="col-md-12"  *ngFor="let user of user_name_list; let i = index" style="margin-bottom: 15px;">
        <!-- <div class="col-md-12" style="margin-bottom: 15px;"> -->
        
            <mat-accordion>
                <mat-expansion-panel class="customcardcolor">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="width: 90%;">
                            <span style="font-weight: 500; font-size: 16px; color: #113160;">{{i+1}}. &nbsp; {{user.name}}</span>
                            <!-- <span style="font-weight: 500; font-size: 16px; color: #113160;">User 1</span> -->

                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- <button mat-raised-button (click)="openModal(editModal, arr)" class="btnlink"
                style="float: right; margin-top: 10px; margin-bottom: 10px; width: 100px;">Edit</button> -->
                    <table class="table table-hover" style="color: #ffffff;">
                        <thead>
                            <tr>
                                <th style="font-weight: 600;">Sl No.</th>
                                <th style="font-weight: 600;">Seq No.</th>

                                <th style="font-weight: 600;">Menu</th>
                                <th style="font-weight: 600;">Sub-menu</th>
                                <th style="font-weight: 600;">Access</th>
                                <th style="font-weight: 600;">View</th>
                                <th style="font-weight: 600;">Insert</th>
                                <th style="font-weight: 600;">Update</th>
                                <th style="font-weight: 600;">Delete</th>
                                <!-- <th style="font-weight: 600;">Approve</th> -->
                                <th style="font-weight: 600;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of user.access_rights; let k = index">
                                <td>{{k+1}}</td>
                                <td>{{item.seqId}}</td>

                                <td>{{item.menu_name}}</td>
                                <td>{{item.sub_menu_name}}</td>
                                <td>
                                    <div>
                                        <mat-slide-toggle *ngIf="item.access==0" (change)="UpdateAccess(item.access, item.id)">
                                        </mat-slide-toggle>
                                        <mat-slide-toggle *ngIf="item.access==1" (change)="UpdateAccess(item.access, item.id)" checked>
                                        </mat-slide-toggle>
                                    </div>
                                    
                                </td>
                                <td>
                                    <div>
                                        <mat-slide-toggle *ngIf="item.view_access==0" (change)="update_view(item.view_access, item.id)">
                                        </mat-slide-toggle>
                                        <mat-slide-toggle *ngIf="item.view_access==1" (change)="update_view(item.view_access, item.id)" checked>
                                        </mat-slide-toggle>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <mat-slide-toggle *ngIf="item.insert_access==0" (change)="update_insert(item.insert_access, item.id)">
                                        </mat-slide-toggle>
                                        <mat-slide-toggle *ngIf="item.insert_access==1" (change)="update_insert(item.insert_access, item.id)" checked>
                                        </mat-slide-toggle>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <mat-slide-toggle *ngIf="item.update_access==0" (change)="update_modify(item.update_access, item.id)">
                                        </mat-slide-toggle>
                                        <mat-slide-toggle *ngIf="item.update_access==1" (change)="update_modify(item.update_access, item.id)" checked>
                                        </mat-slide-toggle>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <mat-slide-toggle *ngIf="item.delete_access==0" (change)="update_delete(item.delete_access, item.id)">
                                        </mat-slide-toggle>
                                        <mat-slide-toggle *ngIf="item.delete_access==1" (change)="update_delete(item.delete_access, item.id)" checked>
                                        </mat-slide-toggle>
                                    </div>
                                </td>
                                <!-- <td>
                                    <mat-slide-toggle checked={{item.access}}>
                                    </mat-slide-toggle>
                                </td> -->
                                <td>
                                    <button type="submit" class="btnlink" style="width: 100%;"
                                        (click)="openDeleteModal(deleteModal,item.id)">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <!-- <cdk-accordion class="example-accordion">
            <cdk-accordion-item
              *ngFor="let item of userReportList; let index = index;"
              #accordionItem="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItem.expanded"
              [attr.aria-controls]="'accordion-body-' + index"
              >
              <div class="example-accordion-item-header" (click)="accordionItem.toggle();showReport(item)">
                <b>{{item.name}}</b>
                <span class="example-accordion-item-description">
                <button mat-raised-button class="mr-2" (click)="openModal(editModal, item)">Edit</button>
                  Click to {{ accordionItem.expanded ? 'close' : 'open' }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <table class="table" style="color: #ffffff;">
                    <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Report</th>
                        <th>Allow</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let val of reportList; let i=index;">
                        <td>{{val.report_id}}</td>
                        <td>{{val.report_name}}</td>
                        <td>
                            <mat-slide-toggle [(ngModel)]="val.active" (click)="changeSlider(val)">
                            </mat-slide-toggle>
                        </td>
                        <td>
                            <button type="submit" class="btnlink" style="width: 30%;">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
              </div>
            </cdk-accordion-item>
        </cdk-accordion> -->
    </div>
</div>

<!-- <p>user-report-map works!</p> -->
<ng-template #addModal>
    <div class="modal-content modalcolor">
        <div class="modal-header mod-head">
            <h4 class="modal-title" style="color: #ffffff;">Add User Menu Map</h4>
            <button type="button" class="modalclosebtn" (click)="closeModal()">
                <mat-icon class="matico">close</mat-icon>
            </button>
        </div>
        <div class="modal-body mod-body">
            <div *ngFor="let arr of addmorerow;let i= index;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>User Name</label>
                            <div class="select">
                                <select class="form-control" [(ngModel)]="user">
                                    <option value="">Select</option>
                                    <option value="{{user.user_id}}" *ngFor="let user of user_list; let i = index">{{user.user_name}}</option>
                                    <!-- <option *ngFor="let val of userList" value={{val.user_id}}>{{val.user_name}}</option> -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Seq No.</label>
                            <div class="select">
                <input type="text" class="form-control "  [(ngModel)]="seqNo">
                               
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Menu List</label>
                            <div class="select">
                                <select class="form-control" [(ngModel)]="menu" (change)="getSubMenuList_onMenuSelection()">
                                    <option value="">Select</option>
                                    <option value="{{menu.menu_id}}" *ngFor="let menu of menu_list; let i = index" >{{menu.menu_name}}</option>
                                    <!-- <option *ngFor="let val of userList" value={{val.user_id}}>{{val.user_name}}</option> -->
                                </select>
                                <!-- <ng-multiselect-dropdown
                            [(ngModel)]="report"
                            [settings]="dropdownSettings"
                            [data]="dropdownList">
                        </ng-multiselect-dropdown> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sub-menu List</label>
                            <div class="select">
                                <select class="form-control" [(ngModel)]="sub_menu">
                                    <option value="">Select</option>
                                    <option value="{{menu.sub_menu_id}}" *ngFor="let menu of sub_menu_list; let i = index">{{menu.sub_menu_name}}</option>
                                    <!-- <option *ngFor="let val of userList" value={{val.user_id}}>{{val.user_name}}</option> -->
                                </select>
                                <!-- <ng-multiselect-dropdown
                            [(ngModel)]="report"
                            [settings]="dropdownSettings"
                            [data]="dropdownList">
                        </ng-multiselect-dropdown> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                
                                <div class="col-md-2">
                                    <mat-checkbox class="example-margin" [(ngModel)]="approve">Access</mat-checkbox>
                                </div>
                                <div class="col-md-2">
                                    <mat-checkbox class="example-margin"
                                    [(ngModel)]="view">View</mat-checkbox>
                                </div>
                                <div class="col-md-2">
                                    <mat-checkbox class="example-margin"
                                    [(ngModel)]="add">Insert</mat-checkbox>
                                </div>
                                <div class="col-md-2">
                                    <mat-checkbox class="example-margin"
                                    [(ngModel)]="edit">Update</mat-checkbox>
                                </div>
                                <div class="col-md-2">
                                    <mat-checkbox class="example-margin" [(ngModel)]="dlt">Delete</mat-checkbox>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right" *ngIf="addmorerow.length > 1">
                    <a class="btnlink" style="color: #ffffff;" (click)="remRow()">Remove</a>
                </div>
            </div>
        </div>
        <div class="modal-footer mod-foot">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <!-- <div class="col-md-4">
                            <button type="button" class="btnlink" (click)="addRow()">Add More</button>
                        </div> -->
                        <div class="col-md-6">
                            <button type="button" class="btnlink" (click)="CreateUserMenu()">Create</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" (click)="closeModal()" class="btnlink"
                                style="background-color: rgba(240, 244, 250) !important;">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #editModal>
    <div class="modal-content modalcolor">
        <div class="modal-header mod-head">
            <h4 class="modal-title" style="color: #ffffff;">Edit User Report Map</h4>
            <button type="button" class="modalclosebtn" (click)="closeModal()">
                <mat-icon class="matico">close</mat-icon>
            </button>
        </div>
        <div class="modal-body mod-body">
            <div class="form-group">
                <label>User Name</label>
                <div class="select">
                    <select class="form-control">
                        <!-- <option value={{userId}}>{{userName}}</option> -->
                        <option>Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Menu List</label>
                <div class="select">
                    <select class="form-control">
                        <option value="">Select</option>
                        <!-- <option *ngFor="let val of userList" value={{val.user_id}}>{{val.user_name}}</option> -->
                    </select>
                    <!-- <ng-multiselect-dropdown
                    [(ngModel)]="existReport"
                    [settings]="dropdownSettings"
                    [data]="dropdownList">
                </ng-multiselect-dropdown> -->
                </div>
            </div>
        </div>
        <div class="modal-footer mod-foot">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btnlink" (click)="UpdateUserMenu()">Update</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" (click)="closeModal()" class="btnlink"
                                style="background-color: rgba(240, 244, 250) !important;">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteModal>
    <div class="modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="removeItem()">Delete</button>
            </div>
        </div>
    </div>
</ng-template>